article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

.content__text-link span {
	display: inline-block;
}

.content__text-link {
	position: relative;
}

@keyframes loop {
	0% { transform-origin: 0% 50%; transform: scale3d(0,1,1); }
	50% { transform-origin: 0% 50%; transform: scale3d(1,1,1); }
	51% { transform-origin: 100% 50%; }
	100% { transform-origin: 100% 50%; transform: scale3d(0,1,1); }
}

.hover-reveal {
	position: fixed;
	width: 400px;
	height: 300px;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
}

.hover-reveal__inner,
.hover-reveal__img {
	width: 100%;
	height: 100%;
	position: relative;
}

@media screen and (min-width: 53em) {
}


body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
.outer-wrapper {
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    transition: background-color 0.3s ease-out;
    background-color: transparent;

}

.line, .spacer {
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    margin: 0 0 0 0;
    padding: 0;
    overflow: hidden;
    z-index: 2;
}

.line {
    height: 16vh;
    line-height: 16vh;
}

.line a {
    font-size: 21vh;
}

.spacer {
    height: 2vh;
}

.marquee-left, .marquee-right {
    z-index: 2;
}



a{
    display: inline;
    text-decoration: none;
    letter-spacing: 5px;
    white-space: nowrap;
    vertical-align: middle;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  
    transition: color 0.1s ease-out ;
    color: black;
    z-index: 2;
}


a:after {
    content: "";
    display: inline-block;
    width: 150px;
    height: 3px;
    background-color: black;
    vertical-align: middle;
    margin: 0 15px 0 15px;
}

.nick a:hover, .title a:hover, .youtube a:hover, .soundcloud a:hover, .svbtle a:hover, .twitter a:hover {
    color: rgba(255,255,255,1);
    -webkit-text-stroke-color: #ffffff;
}

/** Hover stuff **/
.content__text-link span {
    display: inline-block;
}

.content__text-link {
    position: relative;
}

@keyframes loop {
    0% { transform-origin: 0% 50%; transform: scale3d(0,1,1); }
    50% { transform-origin: 0% 50%; transform: scale3d(1,1,1); }
    51% { transform-origin: 100% 50%; }
    100% { transform-origin: 100% 50%; transform: scale3d(0,1,1); }
}

.hover-reveal {
    position: fixed;
    width: 450px;
    height: 350px;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
}

.hover-reveal__inner,
.hover-reveal__img {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.77;
}

.hover-reveal__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Page Loader */
.js .loading::before {
    content: '';
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.js .loading::after {
    content: '';
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0.4;
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5,0.5,1);
    }
}

@media only screen and (max-width: 1024px) {
    body {
        background-color: #ffffff;
    }
   

    a:after {
        width: 50px;
        background-color: #262626;
    }

    
    .spacer {
        height: 2vh;
    }
}
