body, html {
    background-color: #000;
    margin: 0;
    text-align: center;
    padding: 0;
    overflow: hidden;
    font-family: monospace;
    color: #009b64;
    font-size:2vw;
    font-weight: 500;
}

.anchor:focus {
    outline: none;
}

a {
color: #009b64;
text-decoration: none;
font-size:1.5vw;

}

#links {
    z-index: 9999;
    width: 100vw;
    position: absolute;
    top: 85%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0 auto;
}


#name {
    width: 100vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
    user-select: none;
    color: #009b64;
    font-size: 1.8vw;
    z-index: 9999;
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

@media only screen and (max-width: 720px) {
 
    #name {
        font-size: 6vw;
    }

    a {
        font-size: 4vw;
    }
}

