*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Avenir Next', Avenir, Helvetica, Arial, sans-serif;
	color: #393a3e;
	background: #fff;

}

p {
	font-size: 1.3em;
}

a {
	text-decoration: none;
	color: #000;
	outline: none;
}

a:hover,
a:focus {
	color: #000000;
}

.tabsnav__title {
	color: #000000!important;
	font-size: 1.2em;
}

.tabsnav--ander .tabsnav__bar {
    background: rgba(236, 236, 236, 0.05) !important;
    
}

.hidden {
	position: absolute;
	overflow:scroll
		width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.view {
	position: relative;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	height: 100vh;
	margin: 0 0 0 215px;
}

.content {
	z-index: 1;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 25px 50px;
	background: url(../img/Eye1.gif) no-repeat center center;
	background-size: auto 50%;
	
}

.deco__text {
	font-size: 0.8em;
	line-height: 1;
	margin: 0;
	color: #000000;
}

/* Header */
.header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100%;
	text-align: right;
}

.header__info {
	font-family: 'Playfair Display', serif;
	font-size: 3.5em;
	font-weight: 700;
	font-style: italic;
	position: relative;
	max-width: 400px;
	margin: auto 10vw 0 0;
	text-align: right;
	color: #dadada;
	display: none;
}

.header__info::after {
	content: '01';
	font-family: 'Avenir Next', Avenir, Helvetica, Arial, sans-serif;
	font-size: 0em;
	font-weight: bold;
	font-style: normal;
	position: absolute;
	z-index: -1;
	top: 0%;
	right: 52.5%;
	letter-spacing: -0.05em;
	color: #fff;
}

.header__deco {
	font-size: 2em;
	line-height: 1;
	padding: 1em 0;
	color: #000000;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);

}

.header__title {
	font-size: 2.5em;
	line-height: 0.8;
	margin: 0 -7px 0;
	padding: 0;
}

.header__tagline {
	width: 50%;
	margin: 0 0 0 auto;
	padding: 0;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	white-space: nowrap;
}

.codrops-icon {
	display: block;
}

.codrops-icon:last-child {
	margin: 0 0 0 2em;
}

.btn {
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn--back {
	font-size: 1.5em;
	position: absolute;
	z-index: 1002;
	top: 1em;
	right: 1em;
	opacity: 0;
	color: #000000;
}

.btn--menu {
	font-size: 0.85em;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	margin: 10px 0 0 6px;
}

.btn--menu-active .icon--menu,
.icon--cross {
	display: none;
}

.btn--menu-active .icon--cross {
	display: block;
}



.demo {
	position: relative;
	display: block;
	margin: 0 0 0 1.5em;
}

.demo:hover,
.demo:focus {
	outline: none;
}

.demo--current {
	pointer-events: none;
	color: #fff;
}

.demo--current::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	margin: -17px 0 0 -16px;
	border-radius: 50%;
	background: #1d48f3;
}
/* Content */
.tabscontent {
	pointer-events: none;
}

.tabscontent__item {
	position: fixed;
	z-index: 1001;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: scroll;
	width: 100%;
	height: 100vh;
	opacity: 0;
}

.tabscontent__item--current,
.tabscontent__item--current ~ .btn--back {
	pointer-events: auto;
}

.poster {
	position: relative;
	height: 80vh;
	margin: 10vh auto;
	padding: 0 50px;

}

.poster__img {
	position: relative;
	display: none;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	z-index:-10;
}

.poster__caption {
	position: relative;
	top: 8%;
	left: 0;
 overflow: none;
	width: 70%;
	height: 100%;
	padding: 0 20px;
	z-index:10;
}

.poster__box {
	position: absolute;
	top: -50px;
	left: 0;
	width: 50%;
	height: 40%;
	border: 10px solid;
	color: #f8fae5;
	z-index:-10;
}

.poster__number {
	font-size: 125em;
	font-weight: bold;
	line-height: 0.7;
	position: absolute;
	bottom: 0;
	left: calc(100% - 50px + 5px);
	color: #f8fae5;
	z-index:-1000;
}

.poster__title {
	font-size: 6em;
	line-height: 0.7;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0 0 -0.25em 0.15em;
	text-indent: -0.75em;
}

.poster__deco {
	font-size: 2em;
	line-height: 1;
	margin: 0 -1.25em 0 auto;
	color: #000000;

	writing-mode: vertical-rl;
}

.column {
	width: 30vw;
}

.column__title {
	color: #ff764b;
}

.column__text {
	font-size: 2em;
	font-weight: normal;
	margin: 0;
	color: #fff4d7;
}



.box {
	position: relative;
	width: 40vw;
	min-width: 300px;
	height: calc(90vh - 120px);
	margin-top: 40px;
	background-size: cover;
	background-position: 50% 0;
}

.box__title {
	font-size: 6em;
	position: absolute;
	bottom: 0;
	left: -1em;
	margin: 0;
	color: #fff;
}

.tabscontent__item:first-child .box {
	background-image: url(../img/portrait1.jpg);
}

.tabscontent__item:nth-child(2) .box {
	background-image: url(../img/portrait2.jpg);
}

.tabscontent__item:nth-child(3) .box {
	background-image: url(../img/portrait3.jpg);
}

@media screen and (max-width: 40em) {
	.view {
		overflow: auto;
		height: auto;
		min-height: calc(100vh - 69px);
		margin: 0;
	}

	.content {
		flex-direction: column;
		padding: 10px;
	}
	.header__info {
		font-size: 1.15em;
	}
	.deco__text,
	.demos__text {
		display: none;
	}
	.codrops-links {
		margin: 0 0 1em;
	}
	.codrops-icon {
		font-size: 1em;
	}
	.header__deco {
		font-size: 1.25em;
	}
	.header__title {
		font-size: 2.5em;
		margin: 0 -4px;
	}
	.header__tagline {
		width: auto;
	}
	.demos {
		align-items: flex-start;
		margin-top: 1em;
	}
	.header__info::after {
		font-size: 7em;
	}
	.poster__box {
		top: -20px;
		left: 30px;
		width: 30%;
		height: 30%;
		border: 7px solid;
	}
	
	.poster__caption {
	
	 overflow: none;
		width: 100%;
	
	}
	
	.poster__deco {
		font-size: 1em;
	}
	.poster__number {
		font-size: 2em;
		left: calc(100% - 90px);
	}
	.poster__title {
		font-size: 3em;
	}
	.btn--back {
		top: 0;
		right: 0;
	}
	.btn--menu {
		display: block;
	}
	
	.column__title {
		margin: 1em 0 0;
	}
	
	.demo-3 .header__deco {
		font-size: 0.85em;
	}
	
	.tabscontent__item {
		position: fixed;
		z-index: 1001;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: scroll;
		width: 100%;
		height: 100vh;
		opacity: 0;
	}
	
}


.tabsnav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.tabsnav--hidden {
	pointer-events: none;
	visibility: hidden;
}

.tabsnav__item {
	height: 50px;
	position: relative;
	cursor: pointer;
}

.tabsnav__bar {
	background: currentColor;
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
}

.tabsnav__title {
	position: relative;
	cursor: pointer;
	margin: 0;
	height: 100%;
	font-weight: normal;
	line-height: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

/* Vertical Menu */
.tabsnav--vertical {
	display: flex;
	width: auto;
	height: 100%;
}

.tabsnav--vertical .tabsnav__item {
	flex: none;
	width: 50px;
	height: 100%;
}

.tabsnav--vertical .tabsnav__title {
	transform: rotate(-90deg);
}

/* Individual menu styles (Basque names) */

/* Ander */
.tabsnav--ander {
	left: 45px;
}

.tabsnav--ander .tabsnav__bar {
	background: #fff;
}

.tabsnav--ander .tabsnav__title {
	color: #1d48f3;
}

.tabsnav--ander .tabsnav__item:not(:last-child) {
	margin: 0 10px 0 0;
}

/* Zeru */
.tabsnav--zeru {
	background: #222525;
}

.tabsnav--zeru .tabsnav__item:first-child .tabsnav__bar {
	background: #161919;
}

.tabsnav--zeru .tabsnav__item:nth-child(2) .tabsnav__bar {
	background: #222525;
}

.tabsnav--zeru .tabsnav__item:nth-child(3) .tabsnav__bar {
	background: #2e3131;
}

.tabsnav--zeru .tabsnav__title {
	color: #fff;
}

/* Ibai */
.tabsnav--ibai {
	top: 50%;
	margin-top: -115px;
}

.tabsnav--ibai .tabsnav__item {
	height: 70px;
}

.tabsnav--ibai .tabsnav__bar {
	background: #414a52;
}

.tabsnav--ibai .tabsnav__title {
	color: #fc0;
}

.tabsnav--ibai .tabsnav__item:not(:last-child) {
	margin: 0 0 10px 0;
}

@media screen and (max-width: 40em) {
	/* don't show a background if on mobile */
	.tabsnav {
		background: none;
	}
}



#soundcloud {
	position: fixed;
	bottom: 6rem;
	right: 2.7rem;
	width: 2.4rem;
	height: 2.4rem;
	background: transparent url(../img/soundcloud-logo.svg) no-repeat center scroll;
	background-size: 1.4rem auto;
	z-index: 1000;
}


#vsco {
	position: fixed;
	bottom: 4rem;
	right: 2.7rem;
	width: 2.4rem;
	height: 2.4rem;
	background: transparent url(../img/vsco-logo.svg) no-repeat center scroll;
	background-size: 1.4rem auto;
	z-index: 1000;
}


#facebook {
	position: fixed;
	bottom: 2rem;
	right: 2.7rem;
	width: 2.4rem;
	height: 2.4rem;
	background: transparent url(../img/facebook-logo.svg) no-repeat center scroll;
	background-size: 1.4rem auto;
	z-index: 1000;
}



          video {
            max-width: 100%;
            height: auto;
          }

          iframe,
          embed,
          object {
            max-width: 100%;
          }

img {
	max-width:100%;
}