
header {
  z-index: 400; }


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, button, input, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

#entries {max-width:500px;}

#entries img{text-align:center;max-width:500px}

#tumblr_body {max-width:100%;}
/* #Basic Styles
================================================== */
body {
  background: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

/*  This section of selectors is for absolute positioning the footer on the bottom */
html, body {
  height: 100%; }

#wrap {
  min-height: 100%;
  position: relative;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ie6 #wrap {
  height: 100%; }

footer {
  position: absolute;
  bottom: 0; }


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -75px 0 0 -75px;
     

background-color: #000;
   -webkit-animation: cubemove 1.8s infinite ease-in-out;
   animation: cubemove 1.8s infinite ease-in-out;
    z-index: 1001;
    
    
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
       width: 140px;
       height: 140px;
       border: 3px solid transparent;
       border-top-color: #000;
      -webkit-animation: cubemove 1.8s infinite ease-in-out;
      animation: cubemove 1.8s infinite ease-in-out;
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.4s;
          }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
      
        border: 3px solid transparent;
        border-top-color: #000;
-webkit-animation-delay: 1.7s;
animation-delay: 1.4s;

         
       
    }
    
    
    

  @-webkit-keyframes cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
  }
  
  @keyframes cubemove {
    25% { 
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }
  
    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #ffffff;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

  
  


================================================== */
/*	Headings  */
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-style: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin-bottom: 24px;
  margin-top: 14px; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 70%;
  font-weight: normal; }

h1 {
  font-size: 46px; }

h2 {
  font-size: 18px;
  font-weight:700;
  }

h3 {
  font-size: 28px; }

h4 {
  font-size: 21px; }

h5 {
  font-size: 16px;
  margin: 0 0 7px; }

h6 {
  font-size: 10px;
  font-weight: normal;
  margin: 0 0 7px;
  color: #000000; }

/*	Paragraphs  */
p {
  margin: 0;
  line-height: 24px;
  text-align: justify;
  padding-bottom:10px;
  }
.third {  line-height: 24px;
  text-align: justify;}

p img {
  margin: 0; }

/*	Emphasis  */
em {
  font-style: italic; }

strong {
  font-weight: bold; }

small {
  font-size: 80%; }

/*	Blockquotes  */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 20px;
  color: #999;
  font-style: italic; }

blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 5px solid #f3f3f3; }

blockquote p {
  margin: 0; }

blockquote cite {
  display: block;
  font-size: 13px;
  color: #999;
  font-style: normal; }

blockquote cite:before {
  content: "\2014 \0020"; }

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #CCC; }

/*	Code  */
code, pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 13px;
  color: #555;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

code {
  padding: 3px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8; }

pre {
  display: block;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all; }

/*	Address  */
address {
  display: block;
  margin-bottom: 24px;
  line-height: 24px;
  font-style: normal; }

/* #Links
================================================== */
a, a:visited {
  color: #000000;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #cb0000; }

p a, p a:visited {
  line-height: inherit; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate

 */
::-moz-selection {
  background: #70bfac;
  color: white;
  text-shadow: none; }

::selection {
  background: #70bfac;
  color: white;
  text-shadow: none; }

/* #Lists
================================================== */
/* Unordered and Ordered lists */
ul, ol {
  padding: 0;
  margin: 0 0 10px 25px; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  line-height: 24px; }

ul.unstyled {
  margin-left: 0;
  list-style: none; }

/* Description Lists */
dl {
  margin-bottom: 24px; }

dt, dd {
  line-height: 24px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 10px; }

/* #Images
================================================== */
img.scale-with-grid {
  max-width: 100%;
  height: auto; }

/* #Forms
================================================== */
form {
  margin-bottom: 24px; }

fieldset {
  margin-bottom: 24px; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #555;
  margin: 0 0 20px;
  width: 220px;
  /* 220px = .col3 on the grid */
  max-width: 100%;
  display: block;
  float: none;
  background: #FFF;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="file"] {
  width: 220px;
  margin: 0 0 20px;
  display: block; }

input, textarea, select {
  font-size: inherit;
  font-weight: normal; }

input:hover :not([type="file"]:hover) :not([type="submit"]:hover), textarea:hover, select:hover {
  border: 1px solid #7AC143; }



textarea {
  min-height: 60px;
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

label,
legend {
  display: block;
  font-weight: bold;
  font-size: 14px; }

select {
  width: 220px;
  background: white url(../images/dropdown-arrow.png) no-repeat right 0;
  -webkit-appearance: none; }

select:hover {
  background: white url(../images/dropdown-arrow.png) no-repeat right -21px; }

input[type="checkbox"] {
  display: inline; }

label span,
legend span {
  font-weight: normal;
  font-size: 14px;
  color: #999; }


.hrblHForm span.error {
  float: left;
  margin-left: 160px; }

/* Grid style input sizes */
input[class*="col"],
select[class*="col"],
textarea[class*="col"],
.uneditable-input {
  float: none; }

/* #Tables
================================================== */
table {
  margin-bottom: 1.4em;
  width: 100%; }

table h1, table h2, table h3, table h4, table h5, table h6 {
  margin: 0;
  padding: 0; }

th {
  border-bottom: 2px solid #CCC;
  font-weight: bold; }

td {
  border-bottom: 1px solid #CCC; }

td:first-child, th:first-child {
  padding-left: 10px; }

th, td {
  padding: 5px 10px 5px 0px;
  vertical-align: middle;
  text-align: left; }

caption {
  background: #ffc; }

/* Grid style table cell sizes */
table [class*="span"] {
  float: none;
  margin-left: 0;
  display: static; }

/* #Misc
================================================== */
hr {
  border: dotted #CCC;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.remove-bottom {
  margin-bottom: 0 !important; }

.half-bottom {
  margin-bottom: 10px !important; }

.add-bottom {
  margin-bottom: 20px !important; }

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/* All styles in master.scss are built on top of theme.scss */
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Clearing */
/* #Base 960 Grid
================================================== */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0; }

.col1, .col2, .col3, .col4,
.col5, .col6, .col7, .col8,
.col9, .col10, .col11, .col12,
.quarter, .third, .half, .two-thirds {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear; }

.row {
  margin-bottom: 20px; }

.col1 > .row, .col2 > .row, .col3 > .row,
.col4 > .row, .col5 > .row, .col6 > .row,
.col7 > .row, .col8 > .row, .col9 > .row,
.col10 > .row, .col11 > .row, .col12 > .row {
  margin-bottom: 0; }

/* Gridsample is for styleguide reference only. Do NOT use class .gridsample anywhere other than styleguide page. */
.gridsample .col1, .gridsample .col2,
.gridsample .col3, .gridsample .col4,
.gridsample .col5, .gridsample .col6,
.gridsample .col7, .gridsample .col8,
.gridsample .col9, .gridsample .col10,
.gridsample .col11, .gridsample .col12,
.gridsample .quarter, .gridsample .third,
.gridsample .half, .gridsample .two-thirds {
  background: #efefef;
  text-align: center;
  min-height: 30px;
  line-height: 30px; }

.gridsample > .row:hover div {
  background: #CCC; }

.gridsample > .row div > .row div {
  background: #DDD; }

/* Nested col Classes */
.first {
  margin-left: 0; }

.last {
  margin-right: 0; }

/* Base Grid */
.col1 {
  width: 60px; }

.col2 {
  width: 140px; }

.col3, .quarter {
  width: 220px; }

.col4, .third {
  width: 300px; }

.col5 {
  width: 380px; }

.col6, .half {
  width: 460px; }

.col7 {
  width: 540px; }

.col8, .two-thirds {
  width: 620px; }

.col9 {
  width: 700px; }

.col10 {
  width: 780px; }

.col11 {
  width: 860px; }

.col12 {
  width: 940px; }

/* Offsets */
.offset1 {
  padding-left: 80px; }

.offset2 {
  padding-left: 160px; }

.offset3 {
  padding-left: 240px; }

.offset4 {
  padding-left: 320px; }

.offset5 {
  padding-left: 400px; }

.offset6 {
  padding-left: 480px; }

.offset7 {
  padding-left: 560px; }

.offset8 {
  padding-left: 640px; }

.offset9 {
  padding-left: 720px; }

.offset10 {
  padding-left: 800px; }

.offset11 {
  padding-left: 880px; }

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px; }

  .col1, .col2, .col3, .col4,
  .col5, .col6, .col7, .col8,
  .col9, .col10, .col11, .col12 {
    margin-left: 10px;
    margin-right: 10px; }

  .first {
    margin-left: 0;
    margin-right: 10px; }

  .last {
    margin-right: 0;
    margin-left: 10px; }

  .col1 {
    width: 44px; }

  .col2 {
    width: 108px; }

  .col3, .quarter {
    width: 172px; }

  .col4, .third {
    width: 236px; }

  .col5 {
    width: 300px; }

  .col6, .half {
    width: 364px; }

  .col7 {
    width: 428px; }

  .col8, .two-thirds {
    width: 492px; }

  .col9 {
    width: 556px; }

  .col10 {
    width: 620px; }

  .col11 {
    width: 684px; }

  .col12 {
    width: 748px; }

  /* Offsets */
  .offset1 {
    padding-left: 64px; }

  .offset2 {
    padding-left: 128px; }

  .offset3 {
    padding-left: 192px; }

  .offset4 {
    padding-left: 256px; }

  .offset5 {
    padding-left: 320px; }

  .offset6 {
    padding-left: 384px; }

  .offset7 {
    padding-left: 448px; }

  .offset8 {
    padding-left: 512px; }

  .offset9 {
    padding-left: 576px; }

  .offset10 {
    padding-left: 640px; }

  .offset11 {
    padding-left: 704px; } }
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container {
    width: 300px; }

  .col1, .col2, .col3, .col4,
  .col5, .col6, .col7, .col8,
  .col9, .col10, .col11, .col12 {
    margin: 0; }

  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 {
    width: 300px;
    margin: 0; }

  /* Offsets */
  .offset1,
  .offset2,
  .offset3,
  .offset4,
  .offset5,
  .offset6,
  .offset7,
  .offset8,
  .offset9,
  .offset10,
  .offset11,
  .offset12 {
    padding-left: 0; } }
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px; }

  .col4, .col5, .col6, .col7, .col8,
  .col9, .col10, .col11, .col12 {
    margin: 0; }

  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 {
    width: 420px;
    margin: 0; } }
/* #Clearing
================================================== */
.row:before, .row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

.row {
  zoom: 1; }

/* Grid */
/* Components: Font-icons */
/* #Font icons
================================================== */








@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg); } }
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }

  100% {
    -o-transform: rotate(359deg); } }
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }

  100% {
    -ms-transform: rotate(359deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(359deg); } }
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'herbalife';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }









button.btn.small,
input[type="submit"].btn.small {
  *padding-top: 3px;
  *padding-bottom: 3px; }

/* Components: Tooltips, Modals, Accordion */
/* Tooltip
================================================== */
.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0); }

.tooltip.in {
  opacity: 0.85;
  filter: alpha(opacity=85); }

.tooltip.top {
  margin-top: -2px; }

.tooltip.right {
  margin-left: 2px; }

.tooltip.bottom {
  margin-top: 2px; }

.tooltip.left {
  margin-left: -2px; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000; }

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000; }

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000; }

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0; }


.stop-scrolling {
  overflow: hidden; }

.accordion-header {
  cursor: pointer; }

  background: #fdfbf4;
  position: relative;
  z-index: 1; }

.inactive-header-2:hover {
  background: transparent; }

.inactive-header h6, .inactive-header-2 h6 {
  color: rgba(0, 0, 0, 0);
  -webkit-transition: background 0.2s linear, color 0.2s linear;
  -moz-transition: background 0.2s linear, color 0.2s linear;
  -o-transition: background 0.2s linear, color 0.2s linear;
  transition: background 0.2s linear, color 0.2s linear; }

.inactive-header:hover h6, .inactive-header-2:hover h6 {
  font-weight: 700;
  color: rgba(0, 0, 0, 0); }

.inactive-header, .inactive-header-2 {
  color: rgba(0, 0, 0, 0.75);
  -webkit-transition: background 0.2s linear, color 0.2s linear;
  -moz-transition: background 0.2s linear, color 0.2s linear;
  -o-transition: background 0.2s linear, color 0.2s linear;
  transition: background 0.2s linear, color 0.2s linear; }

.inactive-header:hover, .inactive-header-2:hover {
  color: #df0000; }

.accordion-content {
  display: none;
  background: #ffffff;
  color: #000000;
  position: relative;
  z-index: 3; }

#content-1 {
  background:none; }

#content-1 a {
  color: #000000;
  font-weight: 700;
	background-color: #bedece;
}

#content-2 {
  background: #ffffff;
	color: #000000;
}

#content-2 a {
  color: #617823; }

#content-3 {
  background: #fff; }

#content-4 {
  background: #fff;
  padding: 40px 0 20px;
  overflow: hidden; }

/* Table of Contents
==================================================
	#Site Styles
	#Styleguide Styles


/* #Site Styles
================================================== */
section {
  padding: 20px 0 0;
  width: 100%;
  position: relative; }

.container {
  *zoom: 1; }
  .container:before, .container:after {
    display: table;
    content: "";
    line-height: 0; }
  .container:after {
    clear: both; }

.logo {
  position: absolute;
  top: -12px;
  left: -200px;
  z-index: 2;
  height: 150px;
  opacity:.8;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }



.right {
  float: right; }

.left {
  float: left; }

.middle {
  vertical-align: middle; }

.bottom {
  vertical-align: bottom; }

.top {
  vertical-align: top; }

.quiet {
  color: #555555; }

.art-terms {
  position: relative;
  color: #f5cfc3;
  font-size: 22px;
  font-family: marck-script, serif; }

.art-terms:hover span {
  color: #f2711e; }

.art-terms:hover span:before {
  content: "["; }

.art-terms:hover span:after {
  content: "]"; }

ul.portfolio {
  margin: 0;
  list-style: none;
  width: 100%;
  float: left; }

ul.portfolio li {
  margin: 0 20px 20px 0;
  padding: 0;
  color: #471a0c;
  line-height: 21px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

ul.portfolio li:last-child {
  margin-right: 0; }

ul.portfolio li img {
  width: 100%; }

ul.portfolio li .txt {
  margin: 0 10px 5px 0;
  float: right; }

ul.portfolio li a.txt {
  color: #471a0c; }

.thumb {
  position: relative; }

.thumb .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 170px;
  padding: 10px;
  color: #471a0c;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out; }

.thumb:hover .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1; }

.thumb > img {
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out; }

.thumb:hover > img {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0; }

.reveal-img {
  border-bottom: 1px solid #FFF;
  margin-top: 10px; }

ul.socialicons {
  margin: 0;
  padding: 0;
  list-style: none; }

ul.socialicons li {
  float: left;
  display: inline;
  cursor: pointer;
  margin-right: 5px;
  padding: 5px 5px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

ul.socialicons li:last-child {
  margin-right: 0; }

ul.socialicons li:hover {
  background: rgba(255, 255, 255, 0.6);
  position: relative;
  top: 1px; }

/* #Media Queries
================================================== */
/* Smaller than 1386px (devices and browsers) */
@media only screen and (max-width: 1385px) {
  .logo {
    position: absolute;
    top: -12px;
    left: -115px;
    height: 120px; } }
/* Smaller than 1201px (devices and browsers) */
@media only screen and (max-width: 1200px) {
  .logo {
    position: absolute;
    top: -105px;
    left: 10px;
    height: 70px; } }
/* Mobile Landscape and smaller - design for width of 480px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
    line-height: 22px; } }
@media only screen and (max-width: 480px) {
  .cssreel, .csswinner, .cssdesignawards, .opl, .csslight {
    display: none; } }
/* #Styleguide Styles
================================================== */
header {
  width: 100%;
  height: 50px;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* z-index is found in hrbl.theme.css */

  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #d6d6d6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #d6d6d6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #d6d6d6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #d6d6d6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #d6d6d6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #d6d6d6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 );
  /* IE6-9 */ }

#navigation {
  list-style: none;
  width: auto;
  margin: 0 0 0 20px;
  padding: 0; }

#navigation {
  *zoom: 1;
  *zoom: 1; }

#navigation:before,
#navigation:after {
  display: table;
  content: ""; }

#navigation:after {
  clear: both; }

#navigation li {
  display: table-cell;
  vertical-align: middle;
  width: 120px;
  height: 50px;
  text-align: center;
  border-right: 1px solid #ccc;
  border-left: 1px solid #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.2s linear, color 0.2s linear;
  -moz-transition: background 0.2s linear, color 0.2s linear;
  -o-transition: background 0.2s linear, color 0.2s linear;
  transition: background 0.2s linear, color 0.2s linear; }

#navigation li:hover {
  background: #f9f9f9; }

#navigation li a {
  display: table-cell;
  vertical-align: middle;
  width: 120px;
  height: 50px;
  white-space: nowrap;
  color: #515151; }

#navigation li a:hover {
  color: #7AC143;
  position: relative;
  top: 1px;
  text-shadow: 0 1px 0 #FFF; }

#navigation li:first-child {
  border-left: none;
  text-align: left;
  width: auto;
  padding-right: 20px;
  text-transform: inherit; }

#navigation li:first-child:hover {
  background: transparent; }

#navigation li:first-child:active {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

#navigation li a h4 {
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  margin: 0;
  text-transform: none; }

#navigation li a:hover h4 {
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

#navigation li:last-child {
  border-right: none;
  width: auto; }

#navigation li:active {
  color: #555;
  background: #f4f4f4;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

footer {
  background: #555555;
  width: 100%;
  height: 50px;
  color: white !important;
  padding: 10px 0; }


.box1 {
  display: inline-block;
  width: 220px;
  padding: 5px 10px;
  background: #000;
  margin: 5px 12px 5px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
