* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

body {
  /* animation: bodyanimation 1s alternate; */
  cursor: pointer;
  font-family: arial, helvetica;
  background: #000;
  cursor: url('../images/cursor.png') 10 10, auto;
}

::-moz-selection {
  color: #fff;
}

::selection {
  color: #fff;
}

.intro {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.9);
  z-index: 500;
  transition: all 2s;
}

.intro-content {
  font-size: 3.5vh;
  line-height: 3.7vh;
  text-align: center;
  color: #fff;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2vh;
  cursor: url('../images/cursor.png') 10 10, auto;
  /* animation: textanimation .3s infinite; */

  /* margin-top: .4vh; */
}

.intro--invisible {
  opacity: 0;
  pointer-events: none;
}




/* ITEMS */

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item {
  width: 50vw;
  height: 50vh;
  display: none;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.item--visible {
  display: block;
}

.item--invert video, .item--invert img {
  filter: invert(1);
}

.mobileitem {
  display: none;
}

.item video, .item img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.body--animated {
  /* animation: bodyanimation .4s reverse; */
  animation: bodyanimation2 .1s reverse;
}





/* LAYERS */

.layers {
  position: fixed;
  display: grid;
  top: 0;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  z-index: 300;
  /* pointer-events: none; */
  /* background: rgba(250,250,250,.6); */
  /* background: #666; */
}

.layer {
  opacity: 0;

  background: rgba(0,0,0,.5);
  /* background: #000; */
  width: 50vw;
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.layer:hover {
  opacity: 1;
  pointer-events: auto;
}

.layer--visible {
  visibility: visible;
  /* pointer-events: auto; */
}

.layer-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 3.5vh;
  line-height: 3.7vh;
  text-align: center;
  color: #fff;

  /* pointer-events: none; */

  animation: textanimation .3s infinite;
}

.layer-content a {
  color: inherit;
  text-decoration: underline;
  /* pointer-events: auto; */
}

.layer-content a:hover {
  text-decoration: none;
  border-bottom: none;
  cursor: url('../images/cursor.png') 10 10, auto;
}

.layer-content a:focus, a:focus {
  outline: solid 4px rgba(250,250,250,.8);
  text-decoration: none;
}




@keyframes bodyanimation {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(4);
  }
}

@keyframes bodyanimation2 {
  0% {
    margin-left: 40px;
    margin-top: -80px;
  }

  20% {
    margin-left: -20px;
    margin-top: 100px;
  }

  40% {
    margin-left: -120px;
    margin-top: -80px;
  }

  60% {
    margin-left: 40px;
    margin-top: 40px;
  }

  80% {
    margin-left: 100px;
    margin-top: -140px;
  }

  100% {
    margin-left: -140px;
    margin-top: 80px;
  }
}


@keyframes textanimation {
  0% {
    margin-left: .066vw;
    margin-top: -.066vw;

  }

  20% {
    margin-left: 0px;
    margin-top: .2vw;

 
  }

  40% {
    margin-left: -.2vw;
    margin-top: .033vw;

  }

  60% {
    margin-left: .4vw;
    margin-top: -.133vw;


  }

  80% {
    margin-left: -.2vw;
    margin-top: .266vw;


  }

  100% {
    margin-left: .2vw;
    margin-top: .4vw;

  }
}


@media (any-pointer: coarse), (max-width: 600px) {
  .mobileitem {
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .mobileitem video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
  }

  .mobileitem:after {
    content: '';
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.7) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .item {
    display: none;
  }

  .layers {
    position: static;
    width: 100%;
    height: auto;
    display: block;
    /* background: rgba(0,0,0,.2); */
  }

  .layer {
    display: block;
    opacity: 1;
    position: static;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .layer-content {
    padding: 7.4vh 20px 3.7vh 20px;
    display: block;
    position: static;
    overflow: hidden;
    width: 100%;
    height: auto;
    transform: none;
    animation: none;
  }

  .intro {
    position: static;
    background: transparent;
  }

  .intro-content {
    position: static;
    transform: none;;
  }

  .intro--invisible {
    opacity: 1;
  }

  .body--animated {
    animation: none;
  }
}

/* Nur Firefox */
@-moz-document url-prefix() {
    .body--animated {
        animation: none !important;
    }
}
