body{text-align:center;margin-left: auto;margin-right: auto;width:34em;overflow-y:scroll;font:calc(0.55em + 1vmin) monospace}pre pre{text-align:left;display:inline-block}img{max-width:57ch;display:block;height:auto;width:100%}a{text-align:center;text-decoration:none;color:#777}a:hover{color:blue;text-decoration:underline;}p{text-align:center}strong{font-size:1.1em;}ul {display:block;padding-left:15%;text-align:left;list-style-type: none;}p{text-align:left}h3{font-size:1em;font-weight:400}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
