	{% if page.layout == 'amp' %}
		<p>Create the highest, grandest vision possible for your life, because you become what you believe</p>
	{% else %}
		<script type='text/javascript'>
			fortune = new Array(9);
			fortune[0] = 'Create the highest, grandest vision possible for your life, because you become what you believe';
			fortune[1] = 'When you can’t find the sunshine, be the sunshine';
			fortune[2] = 'Wherever life plants you, bloom with grace';
			fortune[3] = 'Little by little, day by day, what is mean for you WILL find its way”';
			fortune[4] = 'Don’t forget you’re human. It’s okay to have a meltdown. Just don’t unpack and live there. Cry it out. Then refocus on where you’re headed';
			fortune[5] = 'A great attitude becomes a grea tday which becomes a great month which becomes a great year which becomes a great life';
			fortune[6] = 'I am in charge of how I feel and today I am choosing happiness';
			fortune[7] = 'Learn from yesterday, live for today, hope for tomorrow';
			fortune[8] = 'The sun is a daily reminder that we too can rise again from the darkness, that we too can shine our own light”';
			index = Math.floor(Math.random() * fortune.length);
			document.write(fortune[index]);
		</script>
		<noscript>Create the highest, grandest vision possible for your life, because you become what you believe</noscript>
	{% endif %}
