@font-face {
    font-family: 'Neue Haas Grotesk';
    src: url("../fonts/NHaasGroteskDSPro-55Rg.ttf") format("woff");
    font-style: normal;
    font-weight: normal
}



body { 
    margin: 0;
    overflow: hidden;
    color: white;
    background-color: #000;
    font-family:  "Neue Haas Grotesk", sans-serif;
    overflow: hidden
}


.logo{font-size:16px;position:fixed;z-index: 1;padding:40px;letter-spacing: 2px}
.title{font-size:8vw;position:fixed;bottom:40px;left:40px;;letter-spacing: 2px;}

.loader {
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    display: none;
}
.loader.loading  { display: block; }


#p5_loading {
            background-color: #000;
            font-size: 14vw;
            color: white;
            box-sizing: border-box;
            display: block;
            position: fixed;
            height: 100%;
            width: 100%;
            padding: 18% 25%;
            font-family: "Neue Haas Grotesk", sans-serif;
     top: 0;
    left: 0;
    transform: translate(-30% -10%);
        }
.modal {
  display: none;
  position: fixed; 
  left: 0; 
  top: -40px;
  width: 100%;
  height: 100%; 
 background: linear-gradient(rgba(2, 2, 2, 0), black);
  overflow: auto;
}

.modal-content {
    padding-top: 60px;
    font-size: 6vw;
    font-family: "Neue Haas Grotesk", sans-serif;
    line-height: 1;
   
}

.bio {padding:0 40px 0 40px;max-width: 100%;}

.modal-content {
  position: relative; 
  padding-right: 6vw;
  margin: auto; 
  width: 100%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.close-btn {
  float: right; 
  color: #fff; 
  font-size: 54px; padding: 40px; 
  font-weight: bold;
top: 18px;
right: 1vw;
    cursor: pointer;
    position: fixed;
          background-color:black;
    padding: 0 4vw
}


.close-btn:hover {
  color: red;
  text-decoration: none;
   text-decoration-color: red;
      transition: color 0.25s ease-out; 
  	-webkit-transition: color 0.25s ease-out; 
  	-moz-transition: color 0.25s ease-out; 
  	-o-transition: color 0.25s ease-out;	
  	 transition: 1s;
  	 -webkit-transition: color 1s; 
  	 -moz-transition:  1s; 
  
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

#modal-btn{font-size:1em;float: right;position: fixed;right: 3vw;line-height: 1;color:#fff;
top: 40px;cursor: pointer;display: inline-block;border: none;text-transform: uppercase;
    background: none;
}


