
/* -- CSS Reset -- */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  margin: 0;
	color: #252525;
}

img.alignright {
  float: right; }

img.alignleft {
  float: left; }

img.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto; }

body {
  background-color: #FFFFFF;
  border-style: none; }

body,
p,
a,
a:hover {
  color: #404040; }

a {
  text-decoration:none ;
  border: none;
  border-style: none;
  box-shadow: none;
	color: #313131;
}


a:hover{
  text-decoration:underline overline #FF3028;
	border: none;
	border-style: none;
	box-shadow: none;
	
}
/* -- Content -- */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }


pre { font-family: 'Source Code Pro', monospace; width: 45ch; margin: 4em auto; padding: .5em; line-height: 0; counter-reset: line;color: rgb(19, 19, 19)
}
pre span { display: block; line-height: 1.4rem;
	color: #2f2f2f;
}
pre span:before { counter-increment: line; content: counter(line); display: inline-block; border-right: 1px solid #474747; width: 3ch; padding: 0 .5em; margin-right: .5em; color: #474747; text-align: right; }
pre a { cursor: text;
	color: #2f2f2f;
}
a { color:#fff;}
#no_1 { animation: music 5s infinite cubic-bezier(1,0,1,0); }
#no_2 { animation: art 5s infinite cubic-bezier(1,0,1,0); }
#no_3 { animation: aster 5s infinite cubic-bezier(1,0,1,0); }
#coil { animation: nick 5s infinite cubic-bezier(1,0,1,0); }
@keyframes music { 0% { background-color: #eee; } 20% { background-color: #555; } 40% { background-color: #eee; } 60% { background-color: #eee; } 80% { background-color: #555; } }
@keyframes art { 0% { background-color: #eee; } 20% { background-color: #eee; } 40% { background-color: #555; } 60% { background-color: #eee; } 80% { background-color: #555; } }
@keyframes aster{ 0% { background-color: #eee; } 20% { background-color: #eee; } 40% { background-color: #eee; } 60% { background-color: #555; } 80% { background-color: #555; } }
@keyframes nick { 0% { background-color: #eee; } 20% { background-color: #555; } 40% { background-color: #555; } 60% { background-color: #555; } 80% { background-color: #555; } }
body.page-template-page-fullsingle-me {
  height: 100vh;
  background-color: #e7e7e7;
	background-position: center center;
	background-size: cover;
	
  
  
  color: #000000!important;
}


a {
  cursor:pointer;
}


  body.page-template-page-fullsingle-me p {
    margin-bottom: 28px;
    color: #999999; }
    @media (max-width: 800px) {
      body.page-template-page-fullsingle-me p {
        font-size: 32px;
        line-height: 40px; } }

.fs-me {
  padding: 10vh 10vw;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  width: 100%; }
  @media (max-width: 500px) {
    .fs-me {
      padding: 5vh 5vw;
      text-align: center; } }
  .fs-me .me-content {
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 500px) {
      .fs-me .me-content {
        height: 90vh; } }

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: left;
      align-self: left;
  -webkit-animation: fadein 2s;
          animation: fadein 2s; }
  @media (max-width: 500px) {
    .logo {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center; } }
  .logo img {
    max-width: 165px;
    height: auto; }

.bio {
  -webkit-box-flex: 2;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: s;
  -webkit-animation: fadein 8s;
          animation: fadein 8s;
  letter-spacing: -1px;
  max-width: 66%;
  text-align: left;
   }
  @media (max-width: 800px) {
    .bio {
      max-width: none; } }
  .bio a {
    color: rgba(40, 40, 40, 0.88);
    transition: 1s; }
    .bio a:hover {
    font-weight: 400;
      color: rgba(255, 33, 33, 0.88);
      transition: 0.1s; }

.network {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto; }
  .network ul {
    -webkit-animation: fadein 6s;
            animation: fadein 6s;
    margin-top: auto; }
    .network ul li {
      display: inline-block;
      margin-right: 8px; }
      .network ul li a {
        display: inline-block;
        width: 30px;
        height: 30px;
        cursor: pointer; }
        .network ul li a .svg-icon {
          padding: 4px;
          width: 22px;
          height: 22px;
          margin: 0;
          display: block; }
        .network ul li a .svg-icon path,
        .network ul li a .svg-icon polygon,
        .network ul li a .svg-icon rect {
          fill: #999999;
          transition: 1s; }
        .network ul li a .svg-icon circle {
          stroke: #999999;
          stroke-width: 1; }
      .network ul li a:hover .svg-icon path,
      .network ul li a:hover .svg-icon polygon,
      .network ul li a:hover .svg-icon rect {
        fill: #FFFFFF;
        transition: 0.1s; }
  .network p.credit {
    opacity: 0.4;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin-bottom: 0;
    -webkit-animation: fadein 8s;
            animation: fadein 8s; }
    .network p.credit a {
      color: #999999; }

body.page-template-page-fullsingle-me.me-video {
  background-image: none; }
  body.page-template-page-fullsingle-me.me-video .me-video-container {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh; }
  body.page-template-page-fullsingle-me.me-video video.video {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    width: 100%;
    height: 100%; }
  body.page-template-page-fullsingle-me.me-video .video-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  body.page-template-page-fullsingle-me.me-video .video-container {
    position: relative;
    overflow: hidden;
    height: 56.25vw;
    width: 100vw; }
    @media (max-aspect-ratio: 16 / 9) {
      body.page-template-page-fullsingle-me.me-video .video-container {
        height: 100vh;
        width: 177.7777777778vh; } }
  body.page-template-page-fullsingle-me.me-video .video-container iframe,
  body.page-template-page-fullsingle-me.me-video .video-container object,
  body.page-template-page-fullsingle-me.me-video .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  body.page-template-page-fullsingle-me.me-video .fs-me {
    background-color: rgba(255, 255, 255, 0.84); }
