*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent
}

.lh-s {
    line-height: 21px
}

button:focus {
    outline: none
}

.italic,
em {
    font-style: italic
}

.mixit {
    background-blend-mode: screen
}

.text {
    font-family:'Work Sans'. helvetica, sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #00000;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.blur {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}

.pointer {
    cursor: pointer
}

.nobr {
    white-space: nowrap
}

html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Work Sans', helvetica, sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #020505;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    margin: 0;
    overflow-x: hidden
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent
}

p {
    padding: 0
}

img {
    width: 100%;
    display: block
}

li {
    list-style: none
}

#intro_wrapper {
    z-index: 95;
    cursor: pointer
}

#intro_wrapper,
#intro_wrapper_img {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

#intro_wrapper_img {
    background-size: cover;
    background-position: 50%
}

#intro_wrapper_video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(2);
    transform: translateX(-50%) translateY(-50%) scale(2);
    background-size: 100%;
    background-position: 50%;
    opacity:.4;
}

.white_bc {
    width: 100%;
    height: 100%;
    background: #fff
}

#title_wrapper,
.white_bc {
    position: fixed;
    left: 0;
    top: 0
}

#title_wrapper {
    padding: 20px 32px;
    margin: 0;
    z-index: 102;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
        cursor: pointer;
}

#title_wrapper .caption {
    display: inline-block;
    margin-left: 20px
}

#img_wrapper {
    position: fixed;
    z-index: 1
}

#img_wrapper,
.img_wrapper_inner {
    width: 100%;
    height: 100%
}

.img_bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1
}

.img_slide {
    width: 100vw
}

.img_slide,
.img_slide_inner {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0
}

.img_slide_inner {
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%
}

.img_slide_inner video {
    width: 100%;
    height: auto
}

.full {
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0
}

video.full {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

.small {
    width: 70vw;
    height: 70vh;
    margin: 15vh 15vw
}

.left {
    width: 50vw;
    margin-left: 0
}

.right {
    width: 50vw;
    margin-left: 50vw
}

.left.small {
    width: 35vw;
    height: 70vh;
    margin: 15vh 7.5vw 10vh
}

.right.small {
    width: 35vw;
    height: 70vh;
    margin: 15vh 7.5vw 10vh 57.5vw
}

.control_next {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 102
}

#popup {
    position: fixed;
    z-index: 95;
    margin: 20px 32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.info_wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 7px 8px;
    z-index: 101;
    max-width:600px;
    
}

#info_background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 101
}

#info_background,
#info_background_img {
    top: 0;
    left: 0;
    position: fixed;
    display: block
}

#info_background_img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity:.3
}

#info_background_video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(2);
    transform: translateX(-50%) translateY(-50%) scale(2);
        opacity:.3
}

.info_contact {
    padding-top: 41px;
    padding-left: 24px;
    position: relative
}

.info_adress,
.info_represent {
    padding: 0 0 20px
}

.info_represent {
    white-space: pre-line
}

.info_represent span {
    display: block
}

.info_represent .nobr {
    display: inline
}

.info_imprint {
    max-width:350px;
    position: relative;
    padding-bottom: 20px
}

.info_imprint span {
    display: block
}

.info_imprint p:nth-child(1) {
    margin: 0 0 20px
}

.info_imprint p:last-child {
    margin: 20px 0 0
}

.hidden {
    z-index: -1 !important;
    opacity: 0
}

.scroll {
    position: absolute !important
}

.opacityzero {
    opacity: 0;
    display: none
}

.noclick,
.opacityzero {
    pointer-events: none
}

.white {
    color: #fdfafa
}

@media only screen and (max-width:768px) {
    html {
        font-size: 16px;
        line-height: 19px
    }

    .blur {
        -webkit-filter: blur(5px);
        filter: blur(5px);
        -webkit-transform: scale(2);
        transform: scale(2)
    }

    #popup {
        display: none
    }

    #title_wrapper,
    .info_wrapper {
        padding: 10px 20px
    }

    .img_slide_inner,
    .small {
        height: calc(100% - 60px);
        width: calc(100vw - 40px);
        margin: 40px 20px 20px;
        top: 0;
        left: 0;
        background-size: contain;
        background-position: top
    }

    .full {
        background-size: cover;
        width: 100%;
        height: 100%;
        margin: 0
    }

    .left.full,
    .left.large,
    .left.small,
    .right.full,
    .right.large,
    .right.small {
        height: calc(50% - 40px);
        width: calc(100vw - 40px);
        margin: 40px 20px -20px;
        float: left;
        position: relative;
        background-size: contain
    }

    .small.single {
        height: calc(100% - 60px);
        width: calc(100vw - 40px);
        margin: 40px 20px 20px;
        top: 0;
        left: 0;
        background-size: contain;
        position: fixed;
        background-position: top
    }

    .currvideo,
    .prevvideo {
        vertical-align: top
    }

    .info_contact {
        padding-top: 39px
    }

    .info_contact span:nth-child(2) {
        display: block
    }

    .info_adress span {
        display: inline !important
    }
}


#unmuteButton {
position: fixed;
right: 32px;
top: 20px;
 display: inline-block;
cursor: pointer;
  width: 16px;
  z-index: 99999;

}