@font-face {
    font-family: 'Neue Haas Grotesk';
    src: url("../fonts/NHaasGroteskDSPro-55Rg.ttf") format("woff");
    font-style: normal;
    font-weight: normal
}


* {
  margin: 0;
  padding: 0;
}
html, body {
  color: #fff;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body {
 font-family: 'VT323', monospace, "Neue Haas Grotesk", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background-color: #000;


  
}


     
    
}

canvas {
    
  display:block;
  border: 0;

}

img {
      display:block;
     top:-40%;
     position: fixed;
 width:100%;
  -webkit-filter: invert(1);
   filter: invert(1);
    z-index: -1;
    opacity: .1
}

.outer {
    display: table;
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    border-collapse:collapse;
    background-image: url("../../assets/img/noise.gif");
  background-repeat: repeat;
    opacity: .15
}
.middle {
    display: table-cell;
    vertical-align: middle;
    
}
.inner {
    margin-left: auto;
    margin-right: auto;
    
}
#defaultCanvas0 {
  position: relative;
  pointer-events: none;
  
}
#player {
    
  position: relative;
  pointer-events: auto;
  max-width:100%;

  margin:0 auto;
}
#canvaswrapper {

    max-width: 100%;
  background-color: none;
}

#songname {
  left:3vw;
  font-weight: 300;
  font-size: 2vw;
  line-height:1;
  position: fixed;
  bottom:3vw;
    opacity:0.5
}
#songtime {
  font-weight: 300;
  font-size: 2vw;
  line-height:1;
  bottom: 3vw;
  right:3vw;
    opacity:0.5;
position: fixed;
}
#p5_loading img,
#songname img {
  margin:0 auto;
}
#selectSound {
 display: none;
  overflow-y: auto;
}
#selectSound ul {
  list-style: none;

}
#selectSound ul li {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  line-height: 1;
 
}
#selectSound ul li.active {
  font-weight: bold;
}
.controls {
  position: fixed;
 bottom: 1.1vw;
 left:41vw;
    opacity:0.5
    
}
.controls .ctrlbttns {
  overflow: auto;
  width:18vw;
  margin:0 ;
  border:none;
outline:none;
  
}
.controls .ctrlbttns button {
  cursor: pointer;
  border: none;
  width: 6vw;
  height: 6vw;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
   outline: none;
      font-size:2vw;
  
}
/*
.controls button#play {
  background-image: url('../../assets/img/small-play.png');
  background-size: 17px 24px;
  outline: none;
    background-color: inherit;
}
.controls button#pause {
  background-image: url('../../img/../assets/img/small-pause.png');
  background-size: 18px 24px;
     background-color: inherit;
  outline: none;
}
.controls button#prev {
  background-image: url('../../assets/img/small-previous.png');
  background-size: 15px 17px;
  outline: none;
     background-color: inherit;
}
.controls button#next {
  background-image: url('../../assets/img/small-next.png');
  background-size: 15px 17px;
  outline: none;
     background-color: inherit;
}
*/

.controls button#play {
  color:#fff;
  background-size: 17px 30px;
  outline: none;
    background-color: inherit;

}
.controls button#play:after {
  color:#fff;
  background-size: 17px 30px;
  outline: none;
    background-color: inherit;
    content: "PLAY"

}

.controls button#pause {
color:#fff;
  background-size: 18px 30px;
     background-color: inherit;
  outline: none;
}

.controls button#pause:after {
color:#fff;
  background-size: 18px 30px;
     background-color: inherit;
  outline: none;
    content: "STOP";
  
}
.controls button#prev {
  background-size: 15px 30px;
  outline: none;
     background-color: inherit;
}

.controls button#prev:after {
  background-size: 15px 30px;
  outline: none;
     background-color: inherit;
    content:"PREV";
        color:#fff;
}
.controls button#next {
  background-size: 15px 17px;
  outline: none;
     background-color: inherit;
}

.controls button#next:after {
  background-size: 15px 17px;
  outline: none;
     background-color: inherit;
     content:"NEXT";
        color:#fff;
}


progress,
progress[role] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  background-size: auto;
  background-color: #fff;
  width: 100%;
  height: 5px;
  cursor: pointer;
display: none
  
}
progress[role]:after {
	background-image: none;
}
progress[role] strong {
	display: none;
}
progress,
progress[role][aria-valuenow] {
   background: transparent !important;
}
progress::-webkit-progress-bar {
    background: transparent;
}
/* IE10 */
progress#loadingBar {
  position: absolute;
  color: #ccc;
}
/* Firefox */
progress#loadingBar::-moz-progress-bar {
  position: fixed;
  background: #ccc;
  bottom:0
}
/* Chrome */
progress#loadingBar::-webkit-progress-value {
  position: absolute;
  background: #ccc;
}
/* Polyfill */
progress#loadingBar[aria-valuenow]:before  {
  position: absolute;
  background: #ccc;
}
/* IE10 */
progress#progressBar {
  position: relative;
  color: #fff;
}
/* Firefox */
progress#progressBar::-moz-progress-bar {
  position: relative;
  background: #000;
}
/* Chrome */
progress#progressBar::-webkit-progress-value {
  position: relative;
  background: #000;
}
/* Polyfill */
progress#progressBar[aria-valuenow]:before  {
  position: relative;
  background: #000;
}

@media only screen and (max-width:480px) {
  #songname {
    font-size: 25px;
  }
}

.logo{ font-size: 2vw;position:fixed;z-index: 1;left:3vw;letter-spacing: 1px;top:40px;opacity:0.5}


#p5_loading {
            background-color: #fff;
            font-size: 12vw;
            color: white;
            box-sizing: border-box;
            display: block;
            position: fixed;
            height: 100%;
            width: 100%;
            padding: 18% 25%;
            font-family: "Neue Haas Grotesk", sans-serif;
     top: 0;
    left: 0;
    transform: translate(-30% -10%);
        }
.modal {
  display: none;
  position: fixed; 
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
 
  overflow: auto;
}

.modal-content {
    padding-top: 30vh;
    font-size: 30px;
    font-family: 'VT323', monospace,"Neue Haas Grotesk", sans-serif;
    line-height: .78;
   background: none;

}

.bio {padding:0 40px 0 40px;max-width: 100%;opacity:0.5}

.modal-content {
  position: relative; 

  margin: 0 auto; 
  width: 600px; 
    max-width: 100%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
    color:#fff;
    
}
.close-btn {
  float: right; 
  font-size: 30px; padding: 40px 26px;
  font-weight: bold;
   z-index: 1;
    right:2.7vw;
    cursor: pointer;
    position: fixed;
    border-radius: 180px;
    color:#fff;
    top:10px;
    background-color: rgba(0, 0, 0, 0.93)
    
}

.close-btn:after {
    content:"CLOSE"
    
}

.close-btn:hover {
  color: red;
  text-decoration: none;
   text-decoration-color: red;
      transition: color 0.25s ease-out; 
  	-webkit-transition: color 0.25s ease-out; 
  	-moz-transition: color 0.25s ease-out; 
  	-o-transition: color 0.25s ease-out;	
  	 transition: 1s;
  	 -webkit-transition: color 1s; 
  	 -moz-transition:  1s; 
     z-index: 1
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

#modal-btn{font-size:2vw;;float: right;position: fixed;right: 3vw;line-height: 1;
top: 40px;cursor: pointer;display: inline-block;border: none;
    background: none;outline: none;color: #fff;opacity:0.5
}




