/* Minimal CSS Reset */
* {
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
html {
  color: #000;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}
#menu {
  font-size: 1.6em;
  position: fixed;
  top: 48px;
  left: 16px;
  line-height: 1;
   
}
#menu #record {
  cursor: pointer;
   
}
#menu #record:hover {
  font-weight: 700;
  color: rgba(47,47,47,0.5);
 
}
#menu #record.active {
  color: #717171;
}
#menu .song {
  margin-left: 16px;
  cursor: pointer;
      border: 1px solid black;
    background-color: #000;
        color:#fff;
    padding: 4px 4px;
            transition: color 0.25s ease-out;
  transition: 1s;
  -webkit-transition: color 1s;
  -moz-transition: 1s;
}
#menu .song:hover {
    color: #000;
border: 1px solid black;
    background-color: #fff
 
}
#menu .song.active {
  color: #000;
  text-decoration: line-through;
border: 1px solid black;
    background-color: #fff
}
#menu #trippy {
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 30px;
  cursor: pointer;
}
#menu #trippy.active {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(to right, #f00, #ffa500, #ff0, #008000, #00f, #4b0082, #ee82ee);
}
#hide {
  position: fixed;
  bottom: 8px;
  left: 32px;
}
#canvas {
  display: block;
  position: fixed;
}
button:active {
  outline: none;
  border: none;
}
button:focus {
  outline: 0;
}
button:hover {
  color: #f00;
  text-decoration: none;
  text-decoration-color: #f00;
  transition: color 0.25s ease-out;
  transition: 1s;
  -webkit-transition: color 1s;
  -moz-transition: 1s;
}
.modal {
  display: none;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide vertical scrollbar */
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.modal-content::-webkit-scrollbar {
  width: 0;
  display: none;
}
.modal-content {
  font-size: 3.3em;
  line-height: 1.3;
  overflow-y: hidden; /* Hide vertical scrollbar */
}
.bio {
  padding: 0 40px 0 40px;
  width: 100%;
}
.modal-content {
  position: relative;
  background-color: #fff;
  padding-right: 7%;
  margin: auto;
  width: 100%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.close-btn {
  float: right;
  color: #000;
  font-size: 54px;
  padding: 40px;
  font-weight: bold;
  margin-top: -41px;
  margin-right: -10px;
  cursor: pointer;
  position: fixed;
  right: 0;
}
.close-btn:hover {
  color: #f00;
  text-decoration: none;
  text-decoration-color: #5c5c5c;
  transition: color 0.25s ease-out;
  transition: 1s;
  -webkit-transition: color 1s;
  -moz-transition: 1s;
}
#modal-btn {
  font-size: 1.43em;
  float: right;
  position: fixed;
  left: 24px;
  font-weight: 500;
  top: 30px;
  cursor: pointer;
  display: inline-block;
  border: none;
  letter-spacing: 2.6px;
  background: none;
}

#modal-btn:hover {
    border: 1px solid black;
    background-color: #000;
    color:#fff;
    padding-right:24px;
    padding-top: 4px;
    padding-bottom: 4px;
}



#modal-btn:hover .logo{display: none}
#modal-btn:hover .about:before{content:"ABOUT  NICK";text-align: center}

ul li a {
  padding-left: 40px;
  color: #000;
  border: 1px solid #000;
  line-height: 1.6;
  padding-right: 10px;
}
ul li a:hover {
  padding-left: 40px;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  line-height: 1.6;
  padding-right: 10px;
}
.dark-mode canvas {
  background-color: #000;
  color: #fff;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}



/*# sourceMappingURL=/src.c37ba8ac.css.map */