*,html,body{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
html,body{
    width:100%;
    height:100%;
    display:block;
    font-family:renomono,monospace;
    font-size:90%;
    font-weight:400;
    color:grey;
    background-color:#fff
}
ul{
    list-style:none
}
a{
    text-decoration:none;
    color:#000;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -ms-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
    cursor:pointer;
}
a:visited{
    color:#000
}
a:hover{
    text-decoration:none;
    color:grey;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -ms-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
svg{
    overflow:visible;
    margin:0
}
g,polygon,path,polyline{
    margin:0
}
.hide{
    display:none!important
}
.filters{
    display:none
}
.wrapper_header{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
    background-size:cover
}
.header{
    position:relative;
    width:100%;
    height:100%;
    display:table;
    text-align:center;
    z-index:999
}
.header_text{
    display:table-cell;
    vertical-align:middle;
    width:auto;
    height:auto
}
.header_text ul{
    display:inline-block;
    margin:0 auto;
    list-style:none
}
.header_text ul li{
    letter-spacing:.9px;
    text-align:left;
    font-size:160%;
    line-height:160%
}
.header_text span{
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -ms-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
    user-select:none
}
.footer_text span{
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -ms-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
    user-select:none
}
.header_text .word_action{
    text-decoration:none;
    cursor:pointer;
    color:#000
}
.header_text .word_action:hover{
    text-decoration:underline;
    cursor:pointer;
    color:grey
}
footer{
    display:inline-block;
    position:fixed;
    bottom:0;
    width:100%;
    padding:10px
}
.foot{
    font-size:10px;
    color:grey
}
.header_text .word_action:visited{
    text-decoration:none;
    cursor:pointer;
    color:grey
}
header{
    position:absolute;
    top:0;
    left:0;
    padding-top:40px;
    padding-left:40px;
    visibility:visible;
    display:block;
    z-index:9999
}
header li{
    float:left;
    margin-right:30px
}
header li a{
    color:grey
}
header li a:hover{
    text-decoration:underline;
    color:#fff
}
header li .active{
    text-decoration:underline
}
.container_nowhere{
    visibility:hidden;
    position:absolute;
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto
}
.container_nowhere video{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto
}
.unselectable{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
#img-container{
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-size:cover
}
.wrapper_section{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
    background:#fff;
    text-align:center
}
@media only screen and (max-width:1220px){
}
@media only screen and (max-width:1160px){
    .watches div{
        margin:0 100px
    }
}
@media only screen and (max-width:1080px){
}
@media only screen and (max-width:1050px){
    .work .inner-container{
        max-width:880px
    }
    .newsletter .inner-container{
        min-width:880px
    }
    .flexslider .slides .producto-container{
        width:329px
    }
}
@media only screen and (max-width:990px){
    footer .inner-container{
        min-width:100%
    }
}
@media only screen and (max-width:938px){
}
@media only screen and (max-width:920px){
    .work .inner-container{
        max-width:535px
    }
}
@media only screen and (max-width:880px){
}
@media only screen and (max-width:680px){
    header nav{
        display:none
    }
    .header_text ul{
        width:calc(100% - 80px)
    }
    .header_text ul li{
        letter-spacing:.3px;
        text-align:left;
        font-size:24px;
        line-height:55px
    }
}
@media only screen and (max-width:414px){
    header nav{
        display:none
    }
    .header_text ul{
        width:calc(100% - 80px);
        margin-top:50px
    }
}
@media only screen and (max-width:736px) and (orientation:landscape){
    header nav{
        display:none
    }
    .header_text ul{
        width:calc(100% - 300px)
    }
    .work .inner-container .next{
        display:none
    }
}
@media only screen and (max-width:667px) and (orientation:landscape){
    .header_text ul{
        width:calc(100% - 240px)
    }
    .icon{
        margin:20px 65px
    }
    .work .inner-container .next{
        display:none
    }
}
@media only screen and (max-width:667px) and (orientation:landscape){
    .watches div{
        margin:0 24px
    }
    .work .inner-container{
        max-width:515px
    }
    .work .inner-container .next{
        display:none
    }
}
@media only screen and (max-width:568px) and (orientation:landscape){
}
.pace{
    -webkit-pointer-events:none;
    pointer-events:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none
}
.pace.pace-inactive .pace-progress{
    display:none
}
.pace .pace-progress{
    position:fixed;
    z-index:100000;
    top:0;
    right:0;
    height:5rem;
    width:5rem;
    -webkit-transform:translate3d(0,0,0)!important;
    -ms-transform:translate3d(0,0,0)!important;
    transform:translate3d(0,0,0)!important
}
.pace .pace-progress:after{
    display:block;
    position:absolute;
    top:0;
    right:.5rem;
    content:attr(data-progress-text);
    font-weight:100;
    font-size:3rem;
    line-height:1;
    text-align:right;
    color:rgba(0,0,0,.19999999999999996)
}
div [class*=underline]{
    display:inline-block;
    border-bottom:1px solid grey;
    padding-bottom:2px;
    line-height:70%
}
 .custom-cursor-container{
   
     width:100%;
     height:100%;
     z-index:5;
     top:0;
     left:0;
     background-color:transparent;
     pointer-events:none;
     mix-blend-mode:difference 
}
 .custom-cursor-container .custom-cursor{
     
     width:100%;
     height:100%;
     top:0;
     left:0;
     overflow:hidden 
}
 .custom-cursor-container .custom-cursor p{
     z-index:1;
     display:inline-block 
}
 .custom-cursor-container .custom-cursor p span{
     z-index:1;
     font-family:Untitled Sans,Helvetica,Arial,sans-serif;
     font-style:normal;
     font-weight:400;
     font-size:1.8rem;
     line-height:auto;
     letter-spacing:0;
     line-height:2.8rem;
     height:2.8rem;
     display:block;
     transform-origin:0 50%;
     transition:none;
     white-space:nowrap 
}
 .custom-cursor-container .custom-cursor.mask{
     mix-blend-mode:difference;
     background-color:transparent;
     z-index:2 
}
 .custom-cursor-container .custom-cursor.mask p,.custom-cursor-container .custom-cursor.mask span{
     color:#000 
}
 .custom-cursor-container .custom-cursor.behind{
     z-index:3 
}
