@font-face {
    font-family: 'Neue Haas Grotesk';
    src: url("../fonts/NHaasGroteskDSPro-55Rg.ttf") format("woff");
    font-style: normal;
    font-weight: normal
}

   
        @font-face {
            font-family: swiss;
            font-weight: 400;
            font-style: normal;
            src: url(../fonts/SuisseIntlM.woff2) format("woff2"), url(../fonts/SuisseIntlM.woff) format("woff")
        }


body {
	background: #ffffff;
	color: #000;
    font-family:  "Neue Haas Grotesk", sans-serif;
    
}

#wrapper {
	position: fixed;
	top: 0;
	left:-3vw;
	min-width: 103%;
	min-height: 100%;
	z-index: 0;
   
}

.controls {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 20;
}

.controls span {
	color: #fff;
	cursor: pointer;
}

.startstop{position: fixed;bottom:4vw;left:3vw;font-size:6vw}

.startstop::before {
	content: "\f04b";
	color: #7fffd4;
	font-family: FontAwesome;
}

.startstop.pause::before {
	content: "\f04c" !important;
         color: #7fffd4;
	font-family: FontAwesome;
}

.rotate {

  transform: rotate(-90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

#audio {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 10;
  color: #7fffd4;
}

.svg-containter {
    position: absolute;
    top: 0;
	left: 0;
    min-width: 100%;
    min-height: 100%;
}

.svg-img {
	position: absolute;
	min-width: 100%;
    min-height: 100%;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #7fffd4;
}


.logo{font-size:1em;position: fixed;left:3vw;top:40px;letter-spacing: 2px;z-index: 1;font-family:swiss;line-height: 1;}

.title {position: fixed;bottom:4vw;left:12vw;font-size:6vw;line-height: 1}

button:active {
outline: none;
border: none;
}

button:focus {outline:0;}

button:hover {
  color: red;
  text-decoration: none;
   text-decoration-color: red;
      transition: color 0.25s ease-out; 
  	-webkit-transition: color 0.25s ease-out; 
  	-moz-transition: color 0.25s ease-out; 
  	-o-transition: color 0.25s ease-out;	
  	 transition: 1s;
  	 -webkit-transition: color 1s; 
  	 -moz-transition:  1s; 
}


.modal {
  display: none;
  position: fixed; 

  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: #022;
    overflow: auto;
}

.modal-content {
    padding-top:40px;
    font-size: 30px;
    font-family: "Neue Haas Grotesk", sans-serif;
    line-height: 1.3;
   
}

.bio {padding:0 40px ;width: 800px; max-width: 100%;}

.modal-content {
  position: relative; 
  background-color: #022;
  margin: auto; 
  width: 100%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.close-btn {
  float: right; 
  color: #7fffd4; 
  font-size: 54px; padding: 40px; 
  font-weight: bold;
top: -30px;
right: 40px;
    cursor: pointer;
    position: fixed
}


.close-btn:hover {
  color: #fff;
  text-decoration: none;
   text-decoration-color: red;
      transition: color 0.25s ease-out; 
  	-webkit-transition: color 0.25s ease-out; 
  	-moz-transition: color 0.25s ease-out; 
  	-o-transition: color 0.25s ease-out;	
  	 transition: .5s;
  	 -webkit-transition: color .5s; 
  	 -moz-transition:  .5s; 
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

#modal-btn{font-size:1em;float: right;position: fixed;right: 3vw;line-height: 1;color:#7fffd4;
top: 39px;cursor: pointer;display: inline-block;border: none;text-transform: uppercase;
    background: none;font-family:swiss, sans-serif
}

.gdpr-banner {display: none!important;}

.tmblr-iframe--gdpr-banner.tmblr-iframe--loaded {display: none!important;}

.tmblr-full img{width:800px;max-width:100%;height:auto;padding-top:40px}
.tmblr-embed{padding-top:40px;padding-bottom: 40px}
.tumblr_body{padding-bottom:40px;border-bottom: 1px dotted black}
.tumblr_post.tumblr_text_post {padding-top:40px}

img {max-width: 100%}

h2{padding-left: 40px;}


.tumblr {
    max-width: 100%;
    width: 800px;
    font-family:  "Neue Haas Grotesk", sans-serif;
    font-size:30px;
    letter-spacing: 0.3px;
    line-height: 1.3
}

.tumblr_title {font-size: 35px;font-weight: 700}

.tumblr_post.tumblr_photo_post img{max-width: 100%;width:800px;opacity: 0.9}
.tumblr_post.tumblr_photo_post img:hover{opacity: 1}

img {margin: 0 auto;}

a {
  color: #7fffF4;
font-weight: 700;
	text-decoration: none;
	transition: color 0.25s ease-out; 
	  transition: color 0.25s ease-out; 
  	-webkit-transition: color 0.25s ease-out; 
  	-moz-transition: color 0.25s ease-out; 
  	-o-transition: color 0.25s ease-out;
    font-family: swiss
}

a:hover {
  color: red;
  text-decoration: none;
   text-decoration-color: red;
      transition: color 0.25s ease-out; 
  	-webkit-transition: color 0.25s ease-out; 
  	-moz-transition: color 0.25s ease-out; 
  	-o-transition: color 0.25s ease-out;	
  	 transition: .5s;
  	 -webkit-transition: color .5s; 
  	 -moz-transition:  .5s; 
}


 .soundcloud {font-size: 16px;color:#7fffd4;position:fixed;right:17.5px;bottom:45%;text-decoration: none;margin:0;padding: 0;line-height: 0;letter-spacing: 1px}
        .youtube {font-size: 16px;color:#7fffd4;position:fixed;right:20px;bottom:55%;text-decoration: none;margin:0;padding: 0;line-height: 0;letter-spacing: 1px}
     

        .soundcloud:hover {color:orange;;text-align: center}
        .youtube:hover {color:red;;text-align: center}
        


ol {list-style-type: none}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
    background: #022
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {

  position: fixed;
  z-index: 2000;
  bottom: 0;
  right: 0;
  height: 5rem;
  width: 5rem;

  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}




.pace .pace-progress:after {
    display: block;
    position: fixed;
    bottom: 4vw;
    right: 3vw;
    content: attr(data-progress-text);
    font-family: "Neue Haas Grotesk", sans-serif!important;
    font-weight: 100;
    font-size: 6vw;
    line-height: 1;
    text-align: right;
    color: #7fffd4!important;
}

.iframe-controls-container.iframe-controls-container--unified{display: none!important;}

.iframe-controls-container.iframe-controls-container--levantis.iframe-controls-container--stroked-buttons .tx-icon-button, .iframe-controls-container.iframe-controls-container--levantis.iframe-controls-container--stroked-buttons .tx-icon-button:active, .iframe-controls-container.iframe-controls-container--levantis.iframe-controls-container--stroked-buttons .tx-icon-button:focus{ display: none!important;}

@media only screen and (max-width: 768px)

{
    .bio {  padding:0 }
    
    .modal {padding-left: 10px}

    .tumblr {
   
    font-size:26px;
    padding-right: 5px
}
    
    
    .tumblr_posts {padding-left: 10px;}
    
.startstop{position: fixed;bottom:4vw;left:3vw;font-size:16vw}
    
.title {position: fixed;bottom:4vw;left:18vw;font-size:16vw;line-height: 1}
.modal-content {
    display:block;
    font-size: 26px;
    font-family: "Neue Haas Grotesk", sans-serif;
    line-height: 1.3;
     margin-top:0;
     height:100%;
}
    
 .close-btn {
  float: right; 
  color: #7fffd4; 
  font-size: 54px; padding:50px 20px; 
  font-weight: bold;
top: -38px;
right: 2px;
    cursor: pointer;
    position: fixed
}

    h2 {padding: 0}  
  
    .tumblr{padding: 0}
}

@keyframes refresh{0%{bottom:100%}70%{bottom:100%}100%{bottom:0px}}
.refresh {
float: left;
width: 200%;
height: 100px;
z-index: 8;
background: linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(255,255,255,.4) 10%,rgba(0,0,0,.1) 100%);
opacity: .1;
position: fixed;
bottom: 0;
animation: refresh 8s linear infinite;
animation-name: refresh;
animation-duration: 8s;
animation-timing-function: linear;
animation-delay: 0s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-fill-mode: none;
animation-play-state: running;
}