@font-face {
	font-family: Web-Regular;
	src: url(fonts/Web-Regular.woff2) format("woff2"), url(fonts/Web-Regular.woff) format("woff");
	font-weight: normal;
	font-style: normal
}

html {
    color: #001489;
    line-height: 1.4
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

#mfPreviewBar {
    display: none
}

.txtlrg {
    font-size: 34px
}

html {
    font-size: 1.5vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

body,
html {
    font-family: 'Web-Regular', Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
    color: #001489;
    background-color: #fcfffd;
    text-rendering: optimizeLegibility;
    font-kerning: auto;
    -moz-font-feature-settings: "onum"1, "kern"1;
    -moz-font-feature-settings: "onum=1, kern=1";
    -ms-font-feature-settings: "onum"1, "kern"1;
    -o-font-feature-settings: "onum"1, "kern"1;
    -webkit-font-feature-settings: "onum"1, "kern"1;
    font-feature-settings: "onum"1, "kern"1
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}

.site-control {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 100;
    text-align: center
}

.site-control span {
    border-bottom: 0 solid transparent;
    -webkit-transition: .15s ease border;
    -moz-transition: .15s ease border;
    -ms-transition: .15s ease border;
    -o-transition: .15s ease border
}

.site-control span:hover {
    border-bottom: 2px solid #001489
}

.site-control i {
    padding: 5px 0;
    display: block
}

.site-control .lang-select {
    width: 40px;
    line-height: 40px;
    height: 40px;
    -webkit-transform-origin: 20px 17px;
    -ms-transform-origin: 20px 17px;
    -o-transform-origin: 20px 17px;
    transform-origin: 20px 17px
}

.site-control .lang-select.animate {
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    -o-transition: .5s ease all
}

.loading .site-control,
.loading .site-wrap {
    opacity: 0;
    -webkit-transform: scale(.99);
    -ms-transform: scale(.99);
    -o-transform: scale(.99);
    transform: scale(.99)
}

.site-control,
.site-wrap {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .25s ease all .5s;
    -moz-transition: .25s ease all .5s;
    -ms-transition: .25s ease all .5s;
    -o-transition: .25s ease all .5s
}

.site-wrap {
    position: relative;
    width: 100%;
    overflow: hidden
}

.site-wrap a {
    text-decoration: none;
    color: inherit
}

.site-wrap a:hover {
    text-decoration: underline
}

.indent-span {
    display: inline-block;
    width: 1.5rem;
    vertical-align: baseline
}

.rotation-wrap {
    opacity: 1;
    overflow: hidden;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    -webkit-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    transform: rotateZ(0)
}

.rotation-wrap.animate {
    -webkit-transition: .5s cubic-bezier(.72, .04, .49, .7)all;
    -moz-transition: .5s cubic-bezier(.72, .04, .49, .7)all;
    -ms-transition: .5s cubic-bezier(.72, .04, .49, .7)all;
    -o-transition: .5s cubic-bezier(.72, .04, .49, .7)all
}

nav {
    letter-spacing: .5px;
    text-transform: uppercase
}

.section-header {
    display: none;
    font-family:  'Web-Regular', Helvetica, Helvetica Neue, Arial, sans-serif;
    letter-spacing: .5px;
    white-space: nowrap;
    z-index: 50;
    position: absolute;
    width: 50%;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
    padding: 1rem 20px 0;
    line-height: 1em
}

.section-header.en {
    left: 0;
    top: 0
}

.section-header.gr {
    bottom: 0;
    right: 0;
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg)
}

.lang-section {
    overflow: hidden;
    width: 50%;
    float: left;
    position: relative;
    box-sizing: border-box
}

.lang-section .content-wrap {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    padding-right: 20px;
    box-sizing: content-box
}

.lang-section .content-inner-wrap {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden
}

.lang-section .content-section {
    text-align: left;
    line-height: 110%;
    width: 100%;
    padding: 1rem 60px 60px;
    margin-bottom: 25vh;
    position: relative
}

.lang-section .content-section:last-of-type {
    margin-bottom: 0
}

.lang-section .content-section .content-header {
    font-family:   'Web-Regular', Helvetica, Helvetica Neue, Arial, sans-serif;
    letter-spacing: .5px;
    width: 100%;
    left: 0;
    top: 3rem;
    line-height: 1em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: left
}

.lang-section .content-section .content-header.fix {
    width: 50%;
    position: fixed;
    top: 40px
}

.lang-section .content-section .content-footer {
  position: absolute;
    bottom: 0;
    left: 0;
    padding: 60px 0 1rem;
    text-align: center;
    width: 100%
}

.lang-section .content-section p {
    margin-top: 0;
    margin-bottom: 0
}

.lang-section .content-section p:not(:first-of-type) {
    text-indent: 3em
}

.content-footer {
    cursor: pointer
}

.content-footer:hover .next {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px)
}

.uparrow {
    opacity: 1;
    -webkit-transition: 1s ease all;
    -moz-transition: 1s ease all;
    -ms-transition: 1s ease all;
    -o-transition: 1s ease all
}

.active .uparrow {
    opacity: 1
}

.next {
    -webkit-transition: .2s ease all;
    -moz-transition: .2s ease all;
    -ms-transition: .2s ease all;
    -o-transition: .2s ease all;
    bottom: 1rem;
    text-align: center;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    opacity: 1;
    background-image: url(down-arrow.png);
    background-size: 100%;
    background-repeat: no-repeat
}

.uparrow .next {
    background-image: url(up-arrow.png)
}

.hover .next {
    opacity: 1;
    display: block
}

.hover .pagenum {
    opacity: 0;
    display: none;
        text-decoration: none;
}

::-webkit-input-placeholder {
    color: #001489;
    opacity: 1
}

:-moz-placeholder {
    color: #001489;
    opacity: 1
}

::-moz-placeholder {
    color: #001489;
    opacity: 1
}

:-ms-input-placeholder {
    color: #001489;
    opacity: 1
}

.mailing-list input {
    outline: 0
}

.mailing-list .mailing-input {
    width: 100%;
    overflow: visible;
    font-weight: 400;
    border: none;
    background: 0 0;
    opacity: 1;
    color: #001489;
    line-height: 1.3em;
    height: 1.3em
}

.mailing-list .mailing-submit {
    margin-top: .5rem;
    padding: 0;
    background: 0 0;
    border: none;
    border: 2px solid #001489;
    opacity: 0;
    line-height: 1em;
    padding: 7px 12px 3px;
    -webkit-transition: .15s ease all;
    -moz-transition: .15s ease all;
    -ms-transition: .15s ease all;
    -o-transition: .15s ease all
}

.mailing-list .mailing-submit.enabled {
    opacity: 1
}

.mailing-list .mailing-submit:hover {
    background-color: #001489;
    color: #fcfffd
}

#gr-content {
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg)
}

.forcebreak {
    display: none
}

@media only screen and (max-width:1440px) {
    .txtlrg {
        font-size: 28px
    }

    html {
        font-size: 24px
    }

    .lang-section .content-section {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media only screen and (max-width:1140px) {
    .lang-section .content-section {
        padding-left: 30px;
        padding-right: 30px
    }
}

@media only screen and (max-width:800px) {
    .rotation-wrap {
        width: 200%
    }

    .next {
        opacity: 1;
        display: block
    }

    .pagenum {
        display: none;
        display: block
            
    }

    .site-control {
        top: auto;
        bottom: 10px;
        right: 15px
    }
}

@media only screen and (max-width:640px) {
    html {
        font-size: 18px
    }

    .txtlrg {
        font-size: 20px
    }

    .lang-section .content-section {
        padding-left: 20px;
        padding-right: 20px
    }

    .site-control {
        bottom: 5px;
        right: 5px
    }

    .forcebreak {
        display: block
    }

    .indent-span {
        width: 1rem;
        font-size: 12px;
        position: relative;
        top: -3px
    }
}

.hidden {
    display: none !important;
    visibility: hidden
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.invisible {
    visibility: hidden
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

@media print {

    *,
    :after,
    :before {
        background: 0 0 !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    a,
    a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " ("attr(href)")"
    }

    abbr[title]:after {
        content: " ("attr(title)")"
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }

    blockquote,
    pre {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    img,
    tr {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }

    h2,
    h3 {
        page-break-after: avoid
    }
}

	  .button{
	  margin-top:21vw;
	  margin-left:-50%;
	  position:absolute;
	  top:10%;
	  left:50%;
	  width:100%;
	  height:auto;
	  z-index:5;
	  text-align:center;
	  font-size:40.5vw;
	  letter-spacing:0vw;
	  font-weight: normal;
	  font-variant:normal;
	  font-style:normal;
	  text-transform: uppercase;
	  transform: rotate(-90deg);
	  -webkit-transform: rotate(-180deg);
	  -moz-transform: rotate(-180deg);
	  -ms-transform: rotate(-180deg);
	  -o-transform: rotate(-180deg);
	 
	  }
	  .button:hover{
	  cursor:pointer;
	  text-decoration:none;
	  color:rgba(0, 0, 0, 0.91);
	  background-color:transparent;
	  padding-left:0vw;
	  padding-right:0vw;
	  padding-bottom:0vw;
	  border-radius: 0vw;
  	  border:0px dotted #000;
	

}


 .button2{
	  margin-top:12.1vw;
	  margin-left:-50%;
	  position:absolute;
	  top:10%;
	  left:50%;
	  width:100%;
	  height:auto;
	  z-index:5;
	  text-align:center;
	  font-size:40.5vw;
	  letter-spacing:0vw;
	  font-weight: normal;
	  font-variant:normal;
	  font-style:normal;
	  text-transform: uppercase;
	  transform: rotate(-90deg);
	  -webkit-transform: rotate(-180deg);
	  -moz-transform: rotate(-180deg);
	  -ms-transform: rotate(-180deg);
	  -o-transform: rotate(-180deg);
	  opacity: .1
	  }
	  .button2:hover{
	  cursor:pointer;
	  text-decoration:none;
	  color:rgba(6, 0, 167, 0.91);
	  background-color:transparent;
	  padding-left:0vw;
	  padding-right:0vw;
	  padding-bottom:0vw;
	  border-radius: 0vw;
  	  border:0px dotted #000;
	

}

.big{font-size: 2.3vw;
    line-height: 3vw;
}