html {
  text-rendering: optimizeLegibility;
}

body {
  margin: 0px;
  font-family: Arial;
  font-size: 30px;
  line-height: 36px;
  color:#000;
  background-color: #fff;
  cursor: default;
}

a{
  text-decoration: none;
  color: #000;
}
a:hover{
  color: #d0d0d0;
  
}

h1{
  font-size: 118px;
  line-height: 130px;
  margin-bottom: -118px;
  font-weight: 400;
  margin: 0px;
}


a img{
  outline: none;
}

img{
  border: 0;
  margin-bottom: -6px;
  width: auto;
  height: auto;
}

/*p {
  margin: 0;
}*/

#text_home{
  opacity: 0;
}

#content_container{
  position: relative;
  width: 1030px;
  top: 130px;
}

#text_contact{
  font-size: 70px;
  line-height: 75px;
  opacity:0;
}

.small{
	font-size:18px;
}

#container_navbar{
  position: fixed;
  top: 80px;
  width: 1030px;
  margin: 0 50% 0 50%;
  left: -515px;
}
.navbar_link{
  float: left;
  font-size: 20px;
  line-height: 34px;
  margin-right: 65px;
}
.navbar_link:hover{
  border-bottom-width: 2px;
  border-color: #000;
  border-bottom-style: solid;
  color: #000;
}
#intro{
  float: right;
  width: 60px;
  height: 60px;
  margin-top: -7px;
  background-image: url(../images/intro.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px 60px;
}

#gap{
  float: left;
  height: 100px;
  width: 100%;
}

#space_small {
	padding-top:10%;
}

#space_large {
	padding-top:18%;
}

@media screen and (max-width: 1130px) {
  #container_navbar{
    position: fixed;
    top: 80px;
    width: 90%;
    margin: 0 5% 0 5%;
    left: 0px;
  }
  #content_container{
    width: 90%;
  }
  .bild_container{
    position: relative;
    opacity: 0;
    margin-bottom: 80px;
  }
  img{
    width: 100%;
    height: auto;
  }
    h1{
    font-size: 100px;
    line-height: 110px;
  }
  #text_contact{
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width: 1060px) {
  h1{
    font-size: 80px;
    line-height: 90px;
  }
  #text_contact{
    font-size: 40px;
    line-height: 45px;
  }
    #content_container{
    top: 160px;
    width: 90%;
  }
  #container_navbar{
    top: 40px;
  }
}

@media screen and (max-width: 750px) {
  h1{
    font-size: 60px;
    line-height: 70px;
  }
  #text_contact{
    font-size: 60px;
    line-height: 70px;
  }
    #content_container{
    top: 160px;
  }
  #container_navbar{
    top: 40px;
    width: 90%;
  }
  .navbar_link{
    margin-right: 40px;
  }
  .bild_container{
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 560px) {
  h1{
    font-size: 30px;
    line-height: 40px;
  }
  #text_contact{
    font-size: 20px;
    line-height: 25px;
  }
   #content_container{
    top: 100px;
    width: 90%;
  }
  #container_navbar{
    top: 10px;
  }
  .navbar_link{
    font-size: 16px;
    line-height: 26px;
    margin-right: 20px;
  }
  #intro{
    margin-top: 6px;
    width: 12px;
    height: 13px;
    background-size: 12px 13px;
  }
  
  #space_small {
  	padding-top:0;
  }
  
  #space_large {
  	padding-top:0;
  }
  
  p {
  	font-size: 22px;
  }
  
 }

/* Localized */