/* BASE STRUCTURE */

html, body {

}

body {
	display: block;
	max-height:100%
}

/*.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
      height: 100%; 
     
     
     
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     object-fit: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   opacity: 0;
    
}*/

#widget-wrapper{
	background: #fdfffc00;
	
}


 #widget {
       border: none!important;
   
}

iframe {

}

.title-and-date {
	display: none;
}

body {
		font-family: 'Proxima Nova', 'Helvetica', 'Arial', sans-serif;
	color: #000;
	background:#fff;
}

section#card {
	position: absolute;
	bottom: 20%;
	left: 12%;
	height: 100px;
}


.soundcloud {
	display: block;
	
	padding-left: 12%;
	
	position: fixed;
	bottom: 10px;
}


.player {
	
	display: block;
}

h1,
h1 a:link {
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 0px;
}

h1 a:hover {
	color: #FFBC00;
}

h2 {
	margin-top: 8px;
	font-size: 17px;
	font-weight: 100;
	line-height: 22px;
	max-width: 400px;
}

h2 a:link,
h2 a:visited,
h2 a:active,
h2 a:hover {
	border-bottom: 2px solid #ccc;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-top: 27px;
}

ul li {
	margin: 0px;
	padding: 0px;
	margin-bottom: 3px;
}

a:link,
a:hover,
a:visited,
a:active {
	color: #000;
	border: none;
	text-decoration: none;

	font-weight: 500;
}

a:hover {
	color: #FFBC00;
}

ul a {
	font-size: 14px;
	line-height: 19px;

	-webkit-font-smoothing: antialiased;
}

   .md-close {
     position:Fixed ;
     left: 10%;
    display: block;
     width: 100px;
     Height:100px;
     top: 12%;
     z-index: 3000;
     
   }

.md-close a{
	font-size: 1em;
	color: rgba(255, 188, 0, 0.27);
}

.md-modal {
  margin: auto;
	position: fixed;
	top: 10px;
	left: 0;
  right: 0;
	width: 80%;
	max-width: 80%;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	font-size: 3em;
	max-height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(#e4f0e3, 0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-effect-12 .md-content {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
	background-color: rgba(255, 255, 255, 0.81);
} 

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
	background: transparent;
}

.md-show.md-effect-12 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

  .md1-close {
   
   margin-top: 14px;
     display: block;
     width: 200px;
     Height:30px;
     right:0;
     z-index: 3000;
   }
   
    

.md1-close a{
	font-size: 2em;
	color: #FFBC00;
}

.md1-modal {
    margin: auto;
	position: fixed;
	top: 10px;
	left: 0;
    right: 0;
	
	max-width: 90%;
    height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	font-size: 1em;
	font-weight: 100;
	max-height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	letter-spacing:1px;
	line-height: 1.3em;
}

.md1-show {
	visibility: visible;
}
img {
	max-width: 100%;
}

iframe {
	display:block;
	max-width: 100%;
	height:700px;
	max-height: 100%;
	margin-top: -50px;
	opacity: .2;
	vertical-align:top;
}


#entries {
	
	display: block;
	z-index: 3000;
	width: 500px;
	max-width: 100%;
}

.md1-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(#e4f0e3, 0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	
}

.md1-show ~ .md1-overlay {
	opacity: 1;
	visibility: visible;
}

.md1-effect-12 .md1-content {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md1-show.md1-effect-12 ~ .md1-overlay {
	background-color: rgba(255, 255, 255, 0.81);
} 

.md1-effect-12 .md1-content h3,
.md1-effect-12 .md1-content {
	background: transparent;
}

.md1-show.md1-effect-12 .md1-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}


