/* ==========================================================================
   Separator
   ========================================================================== */

.u-separate {
    margin-right: 1rem;
    margin-left: .25rem;
    color: $c-base__01;
  }
