@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
html, body {
  color: #222;
  margin: 0;
  height: 100%;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background-color: #000;
}
img,
canvas {
  display:block;
  border: 0;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    border-collapse:collapse;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
}
#defaultCanvas0 {
  position: relative;
  pointer-events: none;
}
#player {
  position: relative;
  pointer-events: auto;
  max-width:100%;

  margin:0 auto;
}
#canvaswrapper {

    max-width: 100%;
  background-color: none;
}
.songinfo {
  padding:20px;
}
#songname {
 
  font-weight: 300;
  font-size: 6vw;
  line-height: 32px;
  color: #fff;
  position: fixed;
  bottom: 6vw
}
#songtime {
  font-weight: 300;
  font-size: 6vw;
  line-height: 20px;
  margin-top: 40px;
  bottom: 6vw;
  right:2vw;
   color: #fff;
position: fixed;
}
#p5_loading img,
#songname img {
  margin:0 auto;
}
#selectSound {
 display: none;
  overflow-y: auto;
}
#selectSound ul {
  list-style: none;

}
#selectSound ul li {
  cursor: pointer;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  line-height: 1;
 
}
#selectSound ul li.active {
  font-weight: bold;
}
.controls {
  position: fixed;
 bottom: 4vw;
 left:45vw
}
.controls .ctrlbttns {
  overflow: auto;
  width:180px;
  margin:0 ;
}
.controls .ctrlbttns button {
  cursor: pointer;
  border: none;
  width: 60px;
  height: 60px;
  display: block;
    background: black;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
   
}
.controls button#play {
  background-image: url('../img/small-play.png');
  background-size: 17px 24px;
  outline: none;
}
.controls button#pause {
  background-image: url('../img/small-pause.png');
  background-size: 18px 24px;
  outline: none;
}
.controls button#prev {
  background-image: url('../img/small-previous.png');
  background-size: 15px 17px;
  outline: none;
}
.controls button#next {
  background-image: url('../img/small-next.png');
  background-size: 15px 17px;
  outline: none;
}
progress,
progress[role] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  background-size: auto;
  background-color: #fff;
  width: 100%;
  height: 5px;
  cursor: pointer;
display: none
  
}
progress[role]:after {
	background-image: none;
}
progress[role] strong {
	display: none;
}
progress,
progress[role][aria-valuenow] {
   background: transparent !important;
}
progress::-webkit-progress-bar {
    background: transparent;
}
/* IE10 */
progress#loadingBar {
  position: absolute;
  color: #ccc;
}
/* Firefox */
progress#loadingBar::-moz-progress-bar {
  position: fixed;
  background: #ccc;
  bottom:0
}
/* Chrome */
progress#loadingBar::-webkit-progress-value {
  position: absolute;
  background: #ccc;
}
/* Polyfill */
progress#loadingBar[aria-valuenow]:before  {
  position: absolute;
  background: #ccc;
}
/* IE10 */
progress#progressBar {
  position: relative;
  color: #fff;
}
/* Firefox */
progress#progressBar::-moz-progress-bar {
  position: relative;
  background: #000;
}
/* Chrome */
progress#progressBar::-webkit-progress-value {
  position: relative;
  background: #000;
}
/* Polyfill */
progress#progressBar[aria-valuenow]:before  {
  position: relative;
  background: #000;
}

@media only screen and (max-width:480px) {
  #songname {
    font-size: 25px;
  }
}
