@charset "UTF-8";
/* CSS Document */

a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline; 
	}
@font-face {
font-family: 'Web-Regular';
src: url('font/Web-Regular.woff2') format('woff2'),
     url('font/Web-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
} 
html,body {
margin: 0;
padding: 0;
font-family: 'Web-Regular', Helvetica, Helvetica Neue, Arial, sans-serif;

font-weight:normal;
text-transform: lowercase;
  	  font-size: 6.5vw;
  	  line-height: 115%;  
  	  background: transparent;
  	  color: #000;
	  text-decoration: none;
	  text-align:left;
	  width:100%;
	  height:100%;
  	  }
  	  a {
  	  text-decoration: none;
  	  color: #000;
  	  border: 0px solid #000;
	  font-weight: normal;
	  font-variant:normal;
	  font-style:normal;
	  }
	  a:hover {
  	  text-decoration: none;
  	  border-bottom: 1px dotted #000;
	  }

.bd {
background-color:#000;
color:#000;
border-radius:1px;
height:1px;
width:97vw;
margin: 0 auto;
}

h1 {
line-height: 115%;  
font-size: 2vw;;
width:94vw;
margin: 0 auto;
padding-bottom:1vw;
padding-top:1vw;
font-weight: normal;
font-variant:normal;
font-style:normal;
text-transform:none;
-webkit-font-feature-settings:  "zero" 1, "titl" 1;
-moz-font-feature-settings:     "zero" 1, "titl" 1;
-ms-font-feature-settings:      "zero" 1, "titl" 1;
font-feature-settings:          "zero" 1, "titl" 1;
 }

h2 {
width:94vw;
margin: 0 auto;
line-height: 115%;  
font-size: 6vw;
font-weight: normal;
font-variant:normal;
font-style:normal;
padding-left: 2vw;
}
h3 {
width:94vw;
margin: 0 auto;
line-height: 115%;  
font-size: 6vw;
padding-bottom: 1.5vw;
font-weight: normal;
font-variant:normal;
font-style:normal;
-webkit-font-feature-settings:  "zero" 1, "titl" 1;
-moz-font-feature-settings:     "zero" 1, "titl" 1;
-ms-font-feature-settings:      "zero" 1, "titl" 1;
font-feature-settings:          "zero" 1, "titl" 1;
}
h4 {
line-height: 115%;  
font-size: 2vw;
width:94vw;
margin: 0 auto;
padding-bottom:1vw;
padding-top:1vw;
font-weight: normal;
font-variant:normal;
font-style:normal;
text-transform:none;
-webkit-font-feature-settings:  "zero" 1, "titl" 1;
-moz-font-feature-settings:     "zero" 1, "titl" 1;
-ms-font-feature-settings:      "zero" 1, "titl" 1;
font-feature-settings:          "zero" 1, "titl" 1;
}



h6 {
width:94vw;
margin: 0 auto;
line-height: 110%;  
font-size: 2vw;
font-weight: normal;
font-variant:normal;
font-style:normal;
}

h7 {
line-height: 150%;  
font-size: 2vw;
margin: 0 auto;
font-weight: normal;
font-variant:normal;
font-style:normal;
text-transform:none;
-webkit-font-feature-settings:  "zero" 1, "titl" 1;
-moz-font-feature-settings:     "zero" 1, "titl" 1;
-ms-font-feature-settings:      "zero" 1, "titl" 1;
font-feature-settings:          "zero" 1, "titl" 1;
}

ul {
list-style:none;
margin:0px;
padding:0px;
}
li {
display:inline-block;
padding:0;
background-color:none;
}

.space{padding-top: 7vw;}


.sl {
width:94vw;
margin: 0 auto;

}
	  h5 a {
  	  border: 0.4vw solid #000;
  	  
  	  padding:0.8vw 3.5vw 1.7vw 3.5vw;
	  font-weight: normal;
	  line-height: 3vw;  
	  font-size: 2.5vw;
	  font-weight: normal;
	  font-variant:normal;
	  font-style:normal;
	  -webkit-font-feature-settings:  "zero" 1, "titl" 1;
	  -moz-font-feature-settings:     "zero" 1, "titl" 1;
	  -ms-font-feature-settings:      "zero" 1, "titl" 1;
	  font-feature-settings:          "zero" 1, "titl" 1;
	  }
	  h5 a:hover {
  	  border: 0.4vw solid rgb(255, 0, 0);
  	 
	  }

	  #container {
	  margin-top:9vw;
  	  width: 100%;
	  }
	  .button{
	  margin-top:-1vw;
	  margin-left:-50%;
	  position:absolute;
	  top:50%;
	  left:50%;
	  width:100%;
	  height:auto;
	  z-index:5;
	  text-align:center;
	  font-size:50.5vw;
	  letter-spacing:0vw;
	  font-weight: normal;
	  font-variant:normal;
	  font-style:normal;
	  text-transform: uppercase;
	  transform: rotate(-90deg);
	  -webkit-transform: rotate(-180deg);
	  -moz-transform: rotate(-180deg);
	  -ms-transform: rotate(-180deg);
	  -o-transform: rotate(-180deg);
	 
	  }
	  .button:hover{
	  cursor:pointer;
	  text-decoration:none;
	  color:rgba(0, 0, 0, 0.91);
	  background-color:transparent;
	  padding-left:0vw;
	  padding-right:0vw;
	  padding-bottom:0vw;
	  border-radius: 0vw;
  	  border:0px dotted #000;
	

}


.button1{
	margin-top:-1vw;
	color: rgba(0, 0, 0, 0.205);
	margin-left:-50%;
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	height:auto;
	z-index:5;
	text-align:center;
	font-size:50.5vw;
	letter-spacing:0vw;
	font-weight: normal;
	font-variant:normal;
	font-style:normal;
	text-transform: uppercase;
	transform: rotate(-90deg);

	
	/* Legacy vendor prefixes that you probably don't need... */
  
	/* Safari */
	-webkit-transform: rotate(-180deg);
  
	/* Firefox */
	-moz-transform: rotate(-180deg);
  
	/* IE */
	-ms-transform: rotate(-180deg);
  
	/* Opera */
	-o-transform: rotate(-180deg);
   
	}
	.button1:hover{
	cursor:pointer;
	text-decoration:none;
	color:rgba(0, 0, 0, 0.11);
	background-color:transparent;
	padding-left:0vw;
	padding-right:0vw;
	padding-bottom:0vw;
	border-radius: 0vw;
	  border:0px dotted #000;
  

}
img {position: relative;;
	
	width:18%;
float: left;
padding: 0 1vw 1vw 0;
border-radius: 20vw;
}

.button2{
	margin-top:-1vw;
	color: rgba(0, 0, 0, 0.0805);
	margin-left:-50%;
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	height:auto;
	z-index:5;
	text-align:center;
	font-size:50.5vw;
	letter-spacing:0vw;
	font-weight: normal;
	font-variant:normal;
	font-style:normal;
	text-transform: uppercase;
	z-index: -1;
   
	}
	.button2:hover{
	cursor:pointer;
	text-decoration:none;
	color:rgba(0, 0, 0, 0.01);
	background-color:transparent;
	padding-left:0vw;
	padding-right:0vw;
	padding-bottom:0vw;
	border-radius: 0vw;
	  border:0px dotted #000;
	  z-index: -1;
  

}
/* Slide Top*/

	  .slide{
	  background-attachment: absolute;
	  width:100%;
	  height:100%;
	  position: relative;
}
	  .slideno{
	  position:absolute;
	  bottom:0px;
	  left:0px;
	  color:rgba(255,255,255,0.3);
}
	  #slide1{
	  background-image:url();
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  }
	  #slide1 .parallaxbg{
	  position:absolute;
	  background-color:none;
}
	  #slide2{
	  background-color:none;
	  background-image:url();
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	
}



#slide3{
	background-color:none;
	background-image:url();
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}





/* Accordion */

.accordion {
padding-top:5vw;
border-top: 0px solid #000;
width:94vw;
margin: 0 auto;

}
.accordion li {
width:94vw;
margin: 0 auto;
border-top: 1px solid #000;

position: relative;
vertical-align:top;
line-height: 100%;  
font-size: 4vw;
font-weight: normal;
font-variant:normal;
font-style:normal;
}
.accordion li p {
display: none;
padding-bottom:1vw;
color: #000;
}
.accordion a {
display: inline-block;
cursor: pointer;
line-height: 115%;
user-select: none;
padding-bottom:2vw;
}
 .accordion a:hover {
color: red;
background-color:none;
padding-left:0vw;
padding-right:0vw;
padding-bottom:0vw;
border-radius: 0vw;
text-decoration: none;
border:0px solid #000;
padding-bottom:2vw;

}
.accordion a:after {
position: absolute;
top: 0vw;
right: 0;
content: "+";
}
.accordion p {
padding-left:0.25vw;
margin-bottom:2vw;
line-height: 115%;
font-size: 2vw;
}
a.active:after {
content: "−";
}

strong {
font-weight: 900;

}
/* Movement */
.movement  {
position:relative;
width:50vw;
height:50vw;
left:25vw;
}

.fill {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.not {
	text-align: center;
	margin: 0 auto;
	display:inline-block;
	bottom:10vw;
	position: absolute;
	z-index: 12;
	text-decoration: none;
	
	  }
	  .listen-node {
	
		line-height: 0;

	}
	 
.big {

	font-size: 20vw;
}

.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

.expand {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.element {
  position: absolute;
  top: 0;
  left: 0;
}





/* Slide Attitude */

.owl-item {
color: #000;
background:none;
font-size:1.5vw;
line-height: 2.5vw;
}

div.b{
width:64vw;
margin: 0 auto;
padding-bottom:4.1vw;
	}


.am-next,

.slider-counter {
float:left;
height:auto;
cursor:pointer;
padding-top:0;
font-size:5vw;
-moz-font-feature-settings:"tnum" 1; 
-ms-font-feature-settings:"tnum" 1; 
-o-font-feature-settings:"tnum" 1; 
-webkit-font-feature-settings:"tnum" 1; 
font-feature-settings:"tnum" 1;
}

.slider-counter {
max-width:40vw;
}

.am-prev {
	position:absolute;
    right: 2vw;
	top: -1vw;
	float: right;
	text-align: right;
	z-index: 100000;
}
.box-two {
padding-left:4vw;
z-index: 100000;
position:absolute;
display: inline-block;
}
.box-three {
	display: inline-block;
	padding-right:4vw;
	text-align:right;
	float:right;
	position:absolute;
	}

/* Marker*/
::-moz-selection {
background: rgba(0, 0, 0, 0.99);
color: white;
} 

::selection {
background: rgba(0, 0, 0, 0.99);
color: white;
}


/* Footer*/
footer {

width:60vw;
margin: 0 auto;
font-weight: normal;
font-variant:normal;
font-style:normal;
-webkit-font-feature-settings: "titl" 1;
-moz-font-feature-settings:    "titl" 1;
-ms-font-feature-settings:     "titl" 1;
font-feature-settings:         "titl" 1;

}
main {
  flex: 1;
  background:aliceblue;
  padding:2rem;
  position:relative;
  z-index:1;
}

/* Add padding BETWEEN each column */

.row,
.row > .column {
  padding: 1.5vw;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  border-top:1px solid #000;
  background-color: none;
  padding-top: 8px;
}
* {
  box-sizing: border-box;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;

  }
  .content {
  border-top:0px solid #000;

}
  h1, h3, h4, h7{
	font-size:14vw;
	
  }

p{font-size: 3vw;
line-height: 3vh;
  }}

.sc{
	display: block;
text-align: center;
font-size: 50vw;
margin-top:17vw;
line-height: .3;
}

.sc:hover{

color: rgba(0, 0, 0, 0.915);
cursor:pointer;
}