@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #555;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgb(129, 129, 129);
}

.white {
    color: rgb(238, 238, 238);
}

.blue {
    color: #7dddd4;
}

.gold {
    color: gold;
}

.redfg {
    color: red;
}

.greenfg {
    color: #00ef00;
}

.red {
    background-color: #F5544D;
}

.yellow {
    background-color: #FABD2F;
}

.green {
    background-color: #00ef00;
}

a {
    text-decoration: none;
    color: rgb(0 255 209);
}

body::after,
body::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
}


body {
    display:flex;
    flex-direction:column;
    background-color: #022;
    background-image: radial-gradient(rgba(0.1, 43, 0.1, 0.75), #000 80%);
    font-family: 'Source Code Pro', monospace;
    font-size:20px;
    min-height: 100vh;
    width:100%;
    padding:10px ;
    color: #7fffd4;
    animation: 2.6s infinite textShadow;
}


body::before {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.06),
      rgba(0, 0, 255, 0.1)
    );
  position: fixed;
  background-size: 100% 2px, 3px 100%;
    z-index:1
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}


body::after {
  background: rgba(18, 16, 16, 0.2);
  opacity: 0;
  animation: 0.15s infinite flicker;
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.7),
      -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.7),
      -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.7),
      -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.7),
      -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.7),
      -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.7),
      -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.7),
      -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.7),
      -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.7),
      -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.7),
      -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.7),
      -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.7),
      -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.7),
      -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.7),
      -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
      -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
      -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
      -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
      -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
      -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
      -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
      -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
@keyframes refresh{0%{bottom:100%}70%{bottom:100%}100%{bottom:0px}}
.refresh {
float: left;
width: 200%;
height: 100px;
z-index: 8;
background: linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(255,255,255,.4) 10%,rgba(0,0,0,.1) 100%);
opacity: .1;
position: fixed;
bottom: 0;
left:0;
margin:0;
animation: refresh 8s linear infinite;
animation-name: refresh;
animation-duration: 8s;
animation-timing-function: linear;
animation-delay: 0s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-fill-mode: none;
animation-play-state: running;
}


@media (max-width:600px) {
    .menu h1 {
        display: none;
    }
}

@media (max-width:500px) {
    .buttons-flex {
        position: unset;
        display: flex;
        flex-direction: row;
    }
}

@media (max-width:450px) {
    .container {
        width: 82%;
        height: 78%;
    }
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 8px;
    overflow: auto;
}

p {
    font-size: 20px;
    color: #7fffd4;
    padding: 8px 0;
}

h2 {
    font-size: 20px;
    color: rgb(238, 238, 238);
}

p.code {
    color: #7fffd4;
    margin-left: 8px;
}

span.text {
    margin-left: 20px;
    color: #7fffd4;
}

p.path {
    color: #7fffd4;
}

p.path span {
    color: #7fffdf;
}

p.path span+span {
    color: #7fffdf;
}

.sucess {
    color: #7fffd4;
}

.error {
    color: #ff402e;
}

p.response {
    color: #7fffd4;
}

input {
    border: none;
    background-color: unset;
    color: #7fffd4;
    width: 100%;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    text-shadow: 0 0 10px;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: unset;

}

.type {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.type2 {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.icone {
    color: #7fffd4;
    padding-right: 8px;
}

.icone.error {
    color: #ff402e;
}

.lsall {
    display: flex;
    justify-content: space-between;
}

.lstitle {
    text-align: left;
    padding-right: 8px;
}

.desc {
    color: #7fffdf;
    text-align: left;
    width: 80%;
}

#minimizeandrestore {
    display: none;
    position: relative;
    top: 80%;
    cursor: pointer;
}

#minimizeandrestore h5 {
    color: rgb(254, 121, 33);
    position: fixed;
    bottom: 12px;
    width: 90%;
    text-align: left;
}
